Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

feat(cmd_548): P0 Phase 4+5 - Manager UI + commissioner FE
  thbigmatome-front/src/components/TeamDialog.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/types/manager.ts
  thbigmatome-front/src/views/ManagerList.vue
  thbigmatome-front/src/views/TeamList.vue
Due: eslint, prettier

feat(nav): 監督一覧リンクをNavigationDrawerに追加
  thbigmatome-front/src/components/NavigationDrawer.vue
Due: eslint, prettier

fix(cmd_551): パス不一致とmeta不足の修正
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/router/index.ts
Due: eslint, prettier

feat(shared): add PageHeader, DataCard, StatusChip components (cmd_553 Phase 1)
  thbigmatome-front/src/components/shared/DataCard.vue
  thbigmatome-front/src/components/shared/PageHeader.vue
  thbigmatome-front/src/components/shared/StatusChip.vue
  thbigmatome-front/src/components/shared/__tests__/DataCard.spec.ts
  thbigmatome-front/src/components/shared/__tests__/PageHeader.spec.ts
  thbigmatome-front/src/components/shared/__tests__/StatusChip.spec.ts
Due: eslint, prettier

feat(cmd_554): ダイアログボタン blue-darken-1 → accent/variant統一 (Batch 1)
  thbigmatome-front/src/components/ManagerDialog.vue
  thbigmatome-front/src/components/PlayerAbsenceFormDialog.vue
  thbigmatome-front/src/components/SeasonInitializationDialog.vue
  thbigmatome-front/src/components/StartingMemberDialog.vue
  thbigmatome-front/src/components/TeamDialog.vue
  thbigmatome-front/src/components/players/PlayerDialog.vue
  thbigmatome-front/src/components/settings/BattingSkillDialog.vue
  thbigmatome-front/src/components/settings/BattingStyleDialog.vue
  thbigmatome-front/src/components/settings/BiorhythmDialog.vue
  thbigmatome-front/src/components/settings/CostDialog.vue
  thbigmatome-front/src/components/settings/PitchingSkillDialog.vue
  thbigmatome-front/src/components/settings/PitchingStyleDialog.vue
  thbigmatome-front/src/components/settings/PlayerTypeDialog.vue
  thbigmatome-front/src/components/settings/ScheduleDetailEditor.vue
  thbigmatome-front/src/components/settings/ScheduleDialog.vue
  thbigmatome-front/src/views/commissioner/CompetitionsView.vue
  thbigmatome-front/src/views/commissioner/StadiumsView.vue
  thbigmatome-front/src/views/commissioner/UsersView.vue
Due: eslint, prettier

feat(ui): cmd_554 Batch 2 — Primary action buttons + CSS var #1b3a6b
  thbigmatome-front/src/App.vue
  thbigmatome-front/src/components/AtBatCard.vue
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/components/settings/CostSettings.vue
  thbigmatome-front/src/components/settings/GenericMasterSettings.vue
  thbigmatome-front/src/components/settings/ScheduleSettings.vue
  thbigmatome-front/src/components/squad/LineupTemplateEditor.vue
  thbigmatome-front/src/components/squad/SquadTextSettings.vue
  thbigmatome-front/src/views/ActiveRoster.vue
  thbigmatome-front/src/views/CostAssignment.vue
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/GamesView.vue
  thbigmatome-front/src/views/ManagerList.vue
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/Players.vue
  thbigmatome-front/src/views/TeamList.vue
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/commissioner/CompetitionsView.vue
  thbigmatome-front/src/views/commissioner/StadiumsView.vue
  thbigmatome-front/src/views/commissioner/UsersView.vue
Due: eslint, prettier

fix(ScheduleDetailEditor): @clickをhandleDateSelectメソッドに切り出してパーサーエラーを解消
  thbigmatome-front/src/components/settings/ScheduleDetailEditor.vue
Due: eslint, prettier

feat(ui): apply PageHeader/DataCard to commissioner 3 views (cmd_555 Batch1)
  thbigmatome-front/src/views/commissioner/CompetitionsView.vue
  thbigmatome-front/src/views/commissioner/StadiumsView.vue
  thbigmatome-front/src/views/commissioner/UsersView.vue
Due: eslint, prettier

feat(views): apply PageHeader/DataCard to 5 general list views (Batch 2)
  thbigmatome-front/src/views/GameRecordListView.vue
  thbigmatome-front/src/views/GamesView.vue
  thbigmatome-front/src/views/ManagerList.vue
  thbigmatome-front/src/views/Players.vue
  thbigmatome-front/src/views/TeamList.vue
Due: eslint, prettier

feat(shared): add FilterBar.vue with slot-based filter layout
  thbigmatome-front/src/components/shared/FilterBar.vue
  thbigmatome-front/src/components/shared/__tests__/FilterBar.spec.ts
Due: eslint, prettier

feat(ui): apply FilterBar to 4 views (cmd_556 Step 2)
  thbigmatome-front/src/views/GameRecordListView.vue
  thbigmatome-front/src/views/GamesView.vue
  thbigmatome-front/src/views/Players.vue
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

feat(players): series編集機能 FE実装 (cmd_558)
  thbigmatome-front/src/components/players/PlayerIdentityForm.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/types/playerDetail.ts
  thbigmatome-front/src/views/PlayerDetailView.vue
  thbigmatome-front/src/views/Players.vue
  thbigmatome-front/src/views/__tests__/PlayerDetailView.spec.ts
  thbigmatome-front/src/views/__tests__/Players.spec.ts
Due: eslint, prettier

feat(players): series編集機能 BE実装 (cmd_558)
  thbigmatome/app/controllers/api/v1/players_controller.rb
  thbigmatome/app/serializers/player_detail_serializer.rb
  thbigmatome/spec/requests/api/v1/players_spec.rb
Due: rubocop

feat(cmd_557): パスワード変更API実装(BE)
  thbigmatome/app/controllers/api/v1/users_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/users_spec.rb
Due: rubocop

feat(cmd_557): パスワード変更機能FE実装
  thbigmatome-front/src/components/settings/PasswordChangeForm.vue
  thbigmatome-front/src/components/settings/__tests__/PasswordChangeForm.spec.ts
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/views/Settings.vue
Due: eslint, prettier

feat(AppBar): アカウントメニューにパスワード変更リンクを追加
  thbigmatome-front/src/components/AppBar.vue
  thbigmatome-front/src/views/Settings.vue
Due: eslint, prettier

feat(commissioner): add DashboardController#absences endpoint
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/commissioner/dashboard_spec.rb
Due: rubocop

feat(commissioner): add CommissionerDashboardView Phase 1（離脱者一覧）
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/components/shared/StatusChip.vue
  thbigmatome-front/src/router/index.ts
  thbigmatome-front/src/views/__tests__/CommissionerDashboardView.spec.ts
  thbigmatome-front/src/views/commissioner/CommissionerDashboardView.vue
Due: eslint, prettier

feat(commissioner): add dashboard costs endpoint (Phase 2)
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/commissioner/dashboard_spec.rb
Due: rubocop

feat(commissioner): add cost tab to CommissionerDashboardView (Phase 2)
  thbigmatome-front/src/views/__tests__/CommissionerDashboardView.spec.ts
  thbigmatome-front/src/views/commissioner/CommissionerDashboardView.vue
Due: eslint, prettier

feat(cmd_563): コミッショナーダッシュボード Phase 3 BE — クールダウン endpoint追加
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/controllers/concerns/cooldown_calculable.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/commissioner/dashboard_spec.rb
Due: rubocop

feat(cmd_563): コミッショナーダッシュボード Phase 3 FE — クールダウンタブ追加
  thbigmatome-front/src/views/__tests__/CommissionerDashboardView.spec.ts
  thbigmatome-front/src/views/commissioner/CommissionerDashboardView.vue
Due: eslint, prettier

feat(cmd_564): add update_role action to UsersController
  thbigmatome/app/controllers/api/v1/users_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/users_spec.rb
Due: rubocop

feat(cmd_564): add role change UI to UsersView
  thbigmatome-front/src/views/__tests__/UsersView.spec.ts
  thbigmatome-front/src/views/commissioner/UsersView.vue
Due: eslint, prettier

feat(cmd_565): HomeView my_teams化 + EmptyState + コミッショナーモード切り替え
  thbigmatome-front/src/components/AppBar.vue
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/components/__tests__/AppBar.spec.ts
  thbigmatome-front/src/stores/commissionerMode.ts
  thbigmatome-front/src/views/HomeView.vue
  thbigmatome-front/src/views/__tests__/HomeView.spec.ts
Due: eslint, prettier

feat(authorization): add TeamAccessible concern for team ownership check
  thbigmatome-front/docs/commissioner-dashboard-design.md
  thbigmatome-front/src/plugins/__tests__/axios.spec.ts
  thbigmatome-front/src/plugins/axios.ts
  thbigmatome/app/controllers/api/v1/game_lineups_controller.rb
  thbigmatome/app/controllers/api/v1/lineup_templates_controller.rb
  thbigmatome/app/controllers/api/v1/roster_changes_controller.rb
  thbigmatome/app/controllers/api/v1/squad_text_settings_controller.rb
  thbigmatome/app/controllers/api/v1/team_key_players_controller.rb
  thbigmatome/app/controllers/api/v1/team_memberships_controller.rb
  thbigmatome/app/controllers/api/v1/team_players_controller.rb
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/controllers/api/v1/team_seasons_controller.rb
  thbigmatome/app/controllers/api/v1/teams_controller.rb
  thbigmatome/app/controllers/concerns/team_accessible.rb
  thbigmatome/spec/requests/api/v1/game_lineups_spec.rb
  thbigmatome/spec/requests/api/v1/lineup_templates_spec.rb
  thbigmatome/spec/requests/api/v1/roster_changes_spec.rb
  thbigmatome/spec/requests/api/v1/squad_text_settings_spec.rb
  thbigmatome/spec/requests/api/v1/team_authorization_spec.rb
  thbigmatome/spec/requests/api/v1/team_rosters_spec.rb
  thbigmatome/spec/requests/api/v1/teams_spec.rb
Due: rubocop, eslint, prettier

feat(cmd_567): HomePortalView改修 — SeasonPortalインライン表示・リダイレクト動線廃止
  thbigmatome-front/src/views/HomePortalView.vue
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome-front/src/views/__tests__/HomePortalView.spec.ts
Due: eslint, prettier

fix(cmd_567): /users/my_teams → /users/me/teams でBEルートに合わせる
  thbigmatome-front/src/views/HomePortalView.vue
  thbigmatome-front/src/views/HomeView.vue
  thbigmatome-front/src/views/__tests__/HomePortalView.spec.ts
  thbigmatome-front/src/views/__tests__/HomeView.spec.ts
Due: eslint, prettier

feat(cmd_568): Phase A - Vuetify基盤整備
  thbigmatome-front/src/assets/base.css
  thbigmatome-front/src/plugins/vuetify.ts
Due: eslint, prettier

feat(ui): NavigationDrawerメニューを試合/チーム/選手の3グループに整理 (subtask_568c)
  thbigmatome-front/src/components/NavigationDrawer.vue
Due: eslint, prettier

fix(base.css): remove undefined --color-text/--color-background references
  thbigmatome-front/src/assets/base.css
Due: none

feat(ui): cmd_568 Phase B-1 — ダイアログmax-width規格化 + persistent統一
  thbigmatome-front/src/components/ConfirmDialog.vue
  thbigmatome-front/src/components/ManagerDialog.vue
  thbigmatome-front/src/components/PlayerAbsenceFormDialog.vue
  thbigmatome-front/src/components/SeasonInitializationDialog.vue
  thbigmatome-front/src/components/TeamDialog.vue
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/components/settings/CostDialog.vue
  thbigmatome-front/src/components/settings/ScheduleDetailEditor.vue
  thbigmatome-front/src/components/settings/ScheduleDialog.vue
  thbigmatome-front/src/components/squad/LineupTemplateEditor.vue
  thbigmatome-front/src/views/ActiveRoster.vue
  thbigmatome-front/src/views/CompetitionRosterView.vue
  thbigmatome-front/src/views/GameRecordDetailView.vue
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome-front/src/views/commissioner/CompetitionsView.vue
  thbigmatome-front/src/views/commissioner/StadiumsView.vue
  thbigmatome-front/src/views/commissioner/UsersView.vue
Due: eslint, prettier

refactor(ui): cmd_568 Phase B-2 — ダイアログv-model defineModel統一（10件）
  thbigmatome-front/src/components/ManagerDialog.vue
  thbigmatome-front/src/components/TeamDialog.vue
  thbigmatome-front/src/components/settings/BattingSkillDialog.vue
  thbigmatome-front/src/components/settings/BattingStyleDialog.vue
  thbigmatome-front/src/components/settings/BiorhythmDialog.vue
  thbigmatome-front/src/components/settings/CostDialog.vue
  thbigmatome-front/src/components/settings/PitchingSkillDialog.vue
  thbigmatome-front/src/components/settings/PitchingStyleDialog.vue
  thbigmatome-front/src/components/settings/PlayerTypeDialog.vue
  thbigmatome-front/src/components/settings/ScheduleDialog.vue
Due: eslint, prettier

refactor(ui): cmd_568 Phase B-3 — ダイアログv-model defineModel統一（残り4件）
  thbigmatome-front/src/components/PlayerAbsenceFormDialog.vue
  thbigmatome-front/src/components/SeasonInitializationDialog.vue
  thbigmatome-front/src/components/StartingMemberDialog.vue
  thbigmatome-front/src/components/players/PlayerDialog.vue
Due: eslint, prettier

feat(ui): cmd_568 Phase D-1 — デザイントークン追加 + 共通コンポーネント visual 強化
  thbigmatome-front/src/assets/base.css
  thbigmatome-front/src/components/shared/FilterBar.vue
  thbigmatome-front/src/components/shared/PageHeader.vue
Due: eslint, prettier

refactor(PlayerCardsView): migrate to PageHeader/FilterBar/v-data-table
  thbigmatome-front/src/views/PlayerCardsView.vue
Due: eslint, prettier

fix(PlayerCardsView): グリッドモードにv-paginationを復活
  thbigmatome-front/src/views/PlayerCardsView.vue
Due: eslint, prettier

feat(ui): Players/ManagerList/TeamListにPageHeader+FilterBar適用（cmd_569）
  thbigmatome-front/src/views/ManagerList.vue
  thbigmatome-front/src/views/Players.vue
  thbigmatome-front/src/views/TeamList.vue
Due: eslint, prettier

feat(ui): cmd_569 — TeamMembers+コミッショナー系3画面UIパターン適用
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/commissioner/CompetitionsView.vue
  thbigmatome-front/src/views/commissioner/StadiumsView.vue
  thbigmatome-front/src/views/commissioner/UsersView.vue
Due: eslint, prettier
