Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop -a {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: add VERSION, CHANGELOG, README, update .gitignore
  .gitignore
  CHANGELOG.md
  README.md
  VERSION
  package.json
Due: none

ci: add GitHub Actions workflows (test.yml)
  .github/workflows/test.yml
Due: none

docs: update test strategy, clean known issues, fix vue compiler macro imports
  docs/14_test_strategy.md
  docs/KNOWN_ISSUES.md
  thbigmatome-front/src/components/AbsenceInfo.vue
  thbigmatome-front/src/components/PromotionCooldownInfo.vue
  thbigmatome-front/src/components/settings/GenericMasterSettings.vue
  thbigmatome-front/src/components/shared/PlayerDetailSelect.vue
  thbigmatome-front/src/components/shared/PlayerSelect.vue
  thbigmatome-front/src/components/shared/TeamSelect.vue
Due: eslint, prettier

fix: correct 2025 season cost data and player name typo
  docs/00_project_overview.md
  docs/01_authentication.md
  docs/02_manager_management.md
  docs/03_team_management.md
  docs/04_player_management.md
  docs/05_master_data.md
  docs/06_cost_management.md
  docs/07_schedule_management.md
  docs/08_season_management.md
  docs/09_roster_management.md
  docs/10_game_management.md
  docs/11_player_absence.md
  docs/12_commissioner.md
  docs/13_frontend_architecture.md
  docs/KNOWN_ISSUES.md
  thbigmatome/fix_data.rb
Due: none

feat: v1 DB schema migrations, user management, design guide
  thbigmatome-front/docs/design-guide.md
  thbigmatome-front/src/views/__tests__/UsersView.spec.ts
  thbigmatome-front/src/views/commissioner/UsersView.vue
  thbigmatome/app/controllers/api/v1/users_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/db/migrate/20260221000001_create_competitions.rb
  thbigmatome/db/migrate/20260221000002_create_competition_entries.rb
  thbigmatome/db/migrate/20260221000003_create_stadiums.rb
  thbigmatome/db/migrate/20260221000004_create_card_sets.rb
  thbigmatome/db/migrate/20260221000005_create_player_cards.rb
  thbigmatome/db/migrate/20260221000006_create_player_card_player_types.rb
  thbigmatome/db/migrate/20260221000007_create_games.rb
  thbigmatome/db/migrate/20260221000008_create_at_bats.rb
  thbigmatome/db/migrate/20260221000009_create_game_events.rb
  thbigmatome/db/migrate/20260221000010_create_pitcher_game_states.rb
  thbigmatome/db/migrate/20260221000011_create_imported_stats.rb
  thbigmatome/db/migrate/20260221000012_add_cost_exempt_to_cost_players.rb
  thbigmatome/db/schema.rb
  thbigmatome/docs/db-schema-v1.md
  thbigmatome/spec/requests/api/v1/users_spec.rb
Due: rubocop, eslint, prettier

feat: update vuetify theme based on design-guide (cmd_269)
  thbigmatome-front/src/plugins/vuetify.ts
Due: eslint, prettier

feat: add Stadium and CardSet Rails models
  thbigmatome/app/models/card_set.rb
  thbigmatome/app/models/stadium.rb
Due: rubocop

feat: add Competition and CompetitionEntry models
  thbigmatome/app/models/competition.rb
  thbigmatome/app/models/competition_entry.rb
Due: rubocop

feat: add PlayerCard, PlayerCardPlayerType, ImportedStat models (subtask_268c)
  thbigmatome/app/models/imported_stat.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/app/models/player_card_player_type.rb
Due: rubocop

feat: add Game, AtBat, GameEvent, PitcherGameState models
  thbigmatome/app/models/at_bat.rb
  thbigmatome/app/models/game.rb
  thbigmatome/app/models/game_event.rb
  thbigmatome/app/models/pitcher_game_state.rb
Due: rubocop

feat: implement app layout (AppBar/NavigationDrawer/Footer) based on design-guide (cmd_269)
  thbigmatome-front/src/App.vue
  thbigmatome-front/src/components/AppBar.vue
  thbigmatome-front/src/components/AppFooter.vue
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/layouts/DefaultLayout.vue
  thbigmatome-front/src/layouts/__tests__/DefaultLayout.spec.ts
Due: eslint, prettier

feat: add 11 new models and update existing associations (cmd_268)
  thbigmatome/app/models/competition.rb
  thbigmatome/app/models/player.rb
  thbigmatome/app/models/player_type.rb
  thbigmatome/app/models/team.rb
Due: rubocop

feat: add CardSetsController, CardSetSerializer, routes (cmd_276)
  thbigmatome/app/controllers/api/v1/card_sets_controller.rb
  thbigmatome/app/serializers/card_set_serializer.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/factories/card_sets.rb
  thbigmatome/spec/requests/api/v1/card_sets_spec.rb
Due: rubocop

feat: add StadiumsController, StadiumSerializer, routes (cmd_276)
  thbigmatome/app/controllers/api/v1/competitions_controller.rb
  thbigmatome/app/controllers/api/v1/player_cards_controller.rb
  thbigmatome/app/controllers/api/v1/stadiums_controller.rb
  thbigmatome/app/serializers/competition_serializer.rb
  thbigmatome/app/serializers/player_card_serializer.rb
  thbigmatome/app/serializers/stadium_serializer.rb
  thbigmatome/config/initializers/inflections.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/factories/competitions.rb
  thbigmatome/spec/factories/player_cards.rb
  thbigmatome/spec/factories/stadiums.rb
  thbigmatome/spec/requests/api/v1/competitions_spec.rb
  thbigmatome/spec/requests/api/v1/player_cards_spec.rb
  thbigmatome/spec/requests/api/v1/stadiums_spec.rb
Due: rubocop

feat: add GamesController, GameSerializer, AtBatSerializer, routes (cmd_276)
  thbigmatome/app/controllers/api/v1/games_controller.rb
  thbigmatome/app/serializers/at_bat_serializer.rb
  thbigmatome/app/serializers/game_serializer.rb
  thbigmatome/spec/factories/games.rb
  thbigmatome/spec/requests/api/v1/games_spec.rb
Due: rubocop

feat: add CardSetsView with detail panel and tests
  thbigmatome-front/src/views/__tests__/CardSetsView.spec.ts
  thbigmatome-front/src/views/commissioner/CardSetsView.vue
Due: eslint, prettier

feat: add CompetitionsView with CRUD dialogs and tests
  thbigmatome-front/src/views/__tests__/CompetitionsView.spec.ts
  thbigmatome-front/src/views/commissioner/CompetitionsView.vue
Due: eslint, prettier

feat: add StadiumsView with CRUD dialogs and tests
  thbigmatome-front/src/views/__tests__/StadiumsView.spec.ts
  thbigmatome-front/src/views/commissioner/StadiumsView.vue
Due: eslint, prettier

feat: add router routes and nav links for stadiums/card_sets/competitions
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/router/index.ts
Due: eslint, prettier

chore: bundle update (patch + minor) for subtask_249a
  thbigmatome/Gemfile.lock
Due: none

chore: yarn upgrade (minor) for subtask_249a
  thbigmatome-front/yarn.lock
Due: none

chore: major version updates - Rails 8.1, rspec-rails 8, brakeman 8, bigdecimal 4
  thbigmatome/Gemfile
  thbigmatome/Gemfile.lock
Due: none

chore: major version updates - vue-router 5, eslint 10, vue-tsc 3
  thbigmatome-front/package.json
  thbigmatome-front/yarn.lock
Due: none

feat: expand AtBatSerializer and add games#confirm endpoint
  thbigmatome/Gemfile.lock
  thbigmatome/app/controllers/api/v1/games_controller.rb
  thbigmatome/app/models/game.rb
  thbigmatome/app/serializers/at_bat_serializer.rb
  thbigmatome/config/routes.rb
Due: rubocop

feat: add games#import_log endpoint with IRC log parser integration
  thbigmatome/lib/irc_parser/irc_atbat_parser.py
  thbigmatome/lib/irc_parser/parse_log.py
Due: none

feat: add GameDetailView with scoreboard and at-bat table
  thbigmatome-front/src/views/GameDetailView.vue
  thbigmatome-front/src/views/GamesView.vue
  thbigmatome-front/src/views/__tests__/GameDetailView.spec.ts
  thbigmatome-front/src/views/__tests__/GamesView.spec.ts
Due: eslint, prettier

feat: add GameImportView for IRC log import workflow
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/GamesView.vue
  thbigmatome-front/src/views/__tests__/GameImportView.spec.ts
Due: eslint, prettier

feat: add routing and navigation for games views
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/router/index.ts
  thbigmatome-front/src/views/GamesView.vue
Due: eslint, prettier

fix: correct API path prefix and parameter wrapping in FE views
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/__tests__/GameImportView.spec.ts
  thbigmatome-front/src/views/commissioner/CompetitionsView.vue
Due: eslint, prettier

fix: add commissioner authorization to stadiums and competitions endpoints
  thbigmatome/app/controllers/api/v1/base_controller.rb
  thbigmatome/app/controllers/api/v1/competitions_controller.rb
  thbigmatome/app/controllers/api/v1/stadiums_controller.rb
  thbigmatome/spec/requests/api/v1/competitions_spec.rb
  thbigmatome/spec/requests/api/v1/stadiums_spec.rb
Due: rubocop

fix: correct DEFENSE_RATING_FORMAT regex in Player and PlayerCard models
  thbigmatome/app/models/player.rb
  thbigmatome/app/models/player_card.rb
Due: rubocop

fix: add missing uniqueness validations and inverse_of to models
  thbigmatome/app/models/at_bat.rb
  thbigmatome/app/models/game.rb
  thbigmatome/app/models/game_event.rb
  thbigmatome/app/models/pitcher_game_state.rb
Due: rubocop

feat: add unique constraint on card_sets[year, set_type] (cmd_287)
  thbigmatome/app/models/card_set.rb
  thbigmatome/db/migrate/20260222023741_add_unique_index_to_card_sets.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/models/card_set_spec.rb
Due: rubocop

refactor: extract shared validations to BaseballCardValidations concern (cmd_287)
  thbigmatome/app/models/concerns/baseball_card_validations.rb
  thbigmatome/app/models/player.rb
  thbigmatome/app/models/player_card.rb
Due: rubocop

add: pytest test suite for irc_atbat_parser (cmd_286)
  thbigmatome/lib/irc_parser/parse_log.py
  thbigmatome/lib/irc_parser/tests/__init__.py
  thbigmatome/lib/irc_parser/tests/test_irc_parser.py
Due: none

feat: add draft/confirmed status to at_bats for import_log persistence (cmd_287)
  thbigmatome/app/controllers/api/v1/games_controller.rb
  thbigmatome/app/models/at_bat.rb
  thbigmatome/db/migrate/20260222024311_add_status_to_at_bats.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/factories/at_bats.rb
  thbigmatome/spec/requests/api/v1/games_spec.rb
Due: rubocop

chore: remove lib/irc_parser (migrated to thbig-irc-parser package)
  thbigmatome/lib/irc_parser/irc_atbat_parser.py
  thbigmatome/lib/irc_parser/parse_log.py
  thbigmatome/lib/irc_parser/tests/__init__.py
  thbigmatome/lib/irc_parser/tests/test_irc_parser.py
Due: none

test: add model specs for Stadium, Competition, CompetitionEntry (cmd_290)
  thbigmatome/spec/factories/competition_entries.rb
  thbigmatome/spec/models/competition_entry_spec.rb
  thbigmatome/spec/models/competition_spec.rb
  thbigmatome/spec/models/stadium_spec.rb
Due: rubocop

test: add model specs for CardSet, PlayerCard, PlayerCardPlayerType, ImportedStat (cmd_290)
  thbigmatome/spec/factories/imported_stats.rb
  thbigmatome/spec/factories/player_card_player_types.rb
  thbigmatome/spec/models/card_set_spec.rb
  thbigmatome/spec/models/imported_stat_spec.rb
  thbigmatome/spec/models/player_card_player_type_spec.rb
  thbigmatome/spec/models/player_card_spec.rb
Due: rubocop

test: add model specs for Game, AtBat, GameEvent, PitcherGameState (cmd_290)
  thbigmatome/spec/factories/game_events.rb
  thbigmatome/spec/factories/pitcher_game_states.rb
  thbigmatome/spec/models/at_bat_spec.rb
  thbigmatome/spec/models/game_event_spec.rb
  thbigmatome/spec/models/game_spec.rb
  thbigmatome/spec/models/pitcher_game_state_spec.rb
Due: rubocop

Path conditions:
  rubocop: any of: thbigmatome/**/*.rb and ^thbigmatome/
  eslint: any of: thbigmatome-front/**/*.{js,ts,vue} and ^thbigmatome\-front/
  prettier: any of: thbigmatome-front/**/*.{js,ts,vue} and ^thbigmatome\-front/
