Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

feat(SeasonPortal): カレンダー本実装 - 2ビュー切替・和色テーマ・モバイル対応
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

fix(SeasonPortal): getTypeCategory()の早期リターン順序修正（dead codeバグ）
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

fix(SeasonPortal): Pフィードバック3件修正
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(cmd_477): Part B+C 離脱者タブ・TeamMembers本実装
  thbigmatome-front/src/components/season/SeasonAbsenceTab.vue
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

feat(roster): implement SeasonRosterTab layout redesign (cmd_477 Part A)
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
Due: eslint, prettier

feat: SeasonPortalにチーム編成タブを追加してTeamMembersへの動線を復旧
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(cmd_481): Part B 選手追加UI改善（TeamMembers.vue）
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/__tests__/TeamMembers.spec.ts
Due: eslint, prettier

feat(cmd_481): Part A SeasonPortalへのTeamMembersインライン統合
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(cmd_481): Part D TeamMembers.vueスタンドアロンヘッダー/ナビ削除
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/__tests__/TeamMembers.spec.ts
Due: eslint, prettier

feat(cmd_481): Part C ヘッダークリーンアップ+成績集計タブ追加
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

fix: improve calendar legend text color contrast
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

fix(calendar): mobile weekday header hidden + reserve/travel color fix
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(i18n): ハードコード日本語をi18n化（cmd_484 Part A）
  thbigmatome-front/src/components/season/SeasonAbsenceTab.vue
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/__tests__/TeamMembers.spec.ts
Due: eslint, prettier

feat(db): コスト不一致・追加・修正 計26件のDB修正 (cmd_486)
  thbigmatome/db/scripts/fix_cost_2025dec.rb
Due: rubocop

feat(squad-text): Phase 1 BE — migration 4 tables + models + LineupTemplatesController
  thbigmatome/app/controllers/api/v1/lineup_templates_controller.rb
  thbigmatome/app/models/game_lineup.rb
  thbigmatome/app/models/lineup_template.rb
  thbigmatome/app/models/lineup_template_entry.rb
  thbigmatome/app/models/squad_text_setting.rb
  thbigmatome/app/models/team.rb
  thbigmatome/config/routes.rb
  thbigmatome/db/migrate/20260307001000_create_lineup_templates.rb
  thbigmatome/db/migrate/20260307001001_create_lineup_template_entries.rb
  thbigmatome/db/migrate/20260307001002_create_squad_text_settings.rb
  thbigmatome/db/migrate/20260307001003_create_game_lineups.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/factories/game_lineups.rb
  thbigmatome/spec/factories/lineup_template_entries.rb
  thbigmatome/spec/factories/lineup_templates.rb
  thbigmatome/spec/factories/squad_text_settings.rb
  thbigmatome/spec/models/game_lineup_spec.rb
  thbigmatome/spec/models/lineup_template_entry_spec.rb
  thbigmatome/spec/models/lineup_template_spec.rb
  thbigmatome/spec/models/squad_text_setting_spec.rb
  thbigmatome/spec/requests/api/v1/lineup_templates_spec.rb
Due: rubocop

feat: add lineup template editor (squad text Phase 2a)
  thbigmatome-front/src/components/squad/LineupTemplateEditor.vue
  thbigmatome-front/src/components/squad/__tests__/LineupTemplateEditor.spec.ts
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(api): add GameLineupsController with show/upsert and RSpec (subtask_495a)
  thbigmatome/app/controllers/api/v1/game_lineups_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/game_lineups_spec.rb
Due: rubocop

fix(router): skip redundant checkAuth on every navigation guard
  thbigmatome-front/src/router/authGuard.ts
Due: eslint, prettier

feat(api): add SquadTextSettingsController (show/update)
  thbigmatome/app/controllers/api/v1/squad_text_settings_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/squad_text_settings_spec.rb
Due: rubocop

feat(fe): add SquadTextSettings.vue and i18n for squad text format settings
  thbigmatome-front/src/components/squad/SquadTextSettings.vue
  thbigmatome-front/src/components/squad/__tests__/SquadTextSettings.spec.ts
  thbigmatome-front/src/locales/ja.json
Due: eslint, prettier

feat(squad-text): Phase 2 Step1 - useLineupTemplate composable + Pinia store + SquadTextGenerator skeleton
  thbigmatome-front/src/components/squad/SquadTextGenerator.vue
  thbigmatome-front/src/composables/__tests__/useLineupTemplate.spec.ts
  thbigmatome-front/src/composables/useLineupTemplate.ts
  thbigmatome-front/src/stores/__tests__/squadText.spec.ts
  thbigmatome-front/src/stores/squadText.ts
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

fix(squad): fix roster API response structure (res.data → res.data.roster)
  thbigmatome-front/src/components/squad/LineupTemplateEditor.vue
  thbigmatome-front/src/components/squad/SquadTextGenerator.vue
Due: eslint, prettier

feat(squad): add bench assignment UI, text generator composable, and preview panel
  thbigmatome-front/src/components/squad/SquadTextGenerator.vue
  thbigmatome-front/src/composables/__tests__/useSquadTextGenerator.spec.ts
  thbigmatome-front/src/composables/useSquadTextGenerator.ts
Due: eslint, prettier

fix(squadText): loadFromPrevious でplayerName/playerNumber未補完バグ修正
  thbigmatome-front/src/stores/__tests__/squadText.spec.ts
  thbigmatome-front/src/stores/squadText.ts
Due: eslint, prettier

test(team_rosters): add is_starter_pitcher / is_relief_only field tests
  thbigmatome/spec/requests/api/v1/team_rosters_spec.rb
Due: rubocop

test(useSquadTextGenerator): fix handedness values and add pitcher init/position tests
  thbigmatome-front/src/composables/__tests__/useSquadTextGenerator.spec.ts
Due: eslint, prettier

fix: PlayerCardDetailSerializer handedness フォールバック追加 (subtask_503b)
  thbigmatome/app/controllers/api/v1/player_cards_controller.rb
  thbigmatome/app/serializers/player_card_detail_serializer.rb
  thbigmatome/spec/serializers/player_card_detail_serializer_spec.rb
Due: rubocop

feat(cmd_504): 公示自動生成 BE — RosterChangeService + RosterChangesController
  thbigmatome/app/controllers/api/v1/roster_changes_controller.rb
  thbigmatome/app/services/roster_change_service.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/roster_changes_spec.rb
  thbigmatome/spec/services/roster_change_service_spec.rb
Due: rubocop

feat(cmd_504): 公示自動生成 FE — fetchRosterChanges + since日付入力UI
  thbigmatome-front/src/components/squad/SquadTextGenerator.vue
  thbigmatome-front/src/composables/__tests__/useSquadTextGenerator.spec.ts
  thbigmatome-front/src/composables/useSquadTextGenerator.ts
Due: eslint, prettier

feat(cmd_505): roster APIにprevious_game_date追加 + is_starter_pitcher/is_relief_only実装 (BE)
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/spec/requests/api/v1/team_rosters_spec.rb
Due: rubocop

feat(cmd_505): sinceDate自動設定 — fetchRosterDataでprevious_game_date受取 (FE)
  thbigmatome-front/src/components/squad/SquadTextGenerator.vue
  thbigmatome-front/src/components/squad/__tests__/SquadTextGenerator.spec.ts
  thbigmatome-front/src/types/rosterPlayer.ts
Due: eslint, prettier

feat: add missing cost players (cmd_506)
  thbigmatome/db/scripts/add_cost_players_506.rb
Due: rubocop

feat(cmd_507): PM2026 PlayerCard紐づけ + CostPlayer.player_card_id設定
  thbigmatome/db/migrate/20260308001000_add_player_card_id_to_cost_players.rb
  thbigmatome/db/schema.rb
  thbigmatome/db/scripts/check_507_prereq.rb
  thbigmatome/db/scripts/link_player_cards_507.rb
  thbigmatome/db/scripts/result_pm2026.yaml
  thbigmatome/spec/rails_helper.rb
Due: rubocop

fix(spec): rspec実行時RAILS_ENV=testチェックを追加（devDB保護）
  thbigmatome/spec/rails_helper.rb
Due: rubocop

fix(spec): config.before(:suite)にRAILS_ENV=testガード追加（subtask_507b Step 2）
  thbigmatome/spec/rails_helper.rb
Due: rubocop

feat(subtask_507b): devDB Cost/CostPlayer復元スクリプト + DatabaseCleaner調査コメント
  thbigmatome/db/scripts/restore_cost_players.rb
  thbigmatome/spec/rails_helper.rb
Due: rubocop

refactor(cmd_508): cost_players.player_card_id カラム削除
  thbigmatome/db/migrate/20260308161224_remove_player_card_id_from_cost_players.rb
  thbigmatome/db/schema.rb
  thbigmatome/db/scripts/link_player_cards_507.rb
Due: rubocop

refactor(cmd_510): Phase 1 全件NULLカラム削除（Player 22 + PlayerCard 3）
  thbigmatome-front/src/components/PlayerCardItem.vue
  thbigmatome-front/src/components/StartingMemberDialog.vue
  thbigmatome-front/src/components/players/PlayerDialog.vue
  thbigmatome-front/src/types/game-record.ts
  thbigmatome-front/src/types/player.ts
  thbigmatome-front/src/types/playerDetail.ts
  thbigmatome-front/src/types/rosterPlayer.ts
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/PlayerCardsView.vue
  thbigmatome/app/controllers/api/v1/players_controller.rb
  thbigmatome/app/controllers/api/v1/team_memberships_controller.rb
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/models/concerns/baseball_card_validations.rb
  thbigmatome/app/models/player.rb
  thbigmatome/app/serializers/player_card_detail_serializer.rb
  thbigmatome/app/serializers/player_card_serializer.rb
  thbigmatome/app/serializers/player_detail_serializer.rb
  thbigmatome/app/serializers/player_serializer.rb
  thbigmatome/db/migrate/20260309123201_remove_phase1_null_columns_from_players_and_player_cards.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/factories/players.rb
  thbigmatome/spec/models/player_spec.rb
  thbigmatome/spec/requests/api/v1/players_spec.rb
Due: rubocop, eslint, prettier

refactor(cmd_512): Player.speed/bunt/steal_start/steal_end/injury_rate 5カラム削除
  thbigmatome-front/src/components/players/FielderAbilityForm.vue
  thbigmatome-front/src/components/players/PlayerDialog.vue
  thbigmatome-front/src/types/playerDetail.ts
  thbigmatome/app/controllers/api/v1/players_controller.rb
  thbigmatome/app/models/player.rb
  thbigmatome/app/serializers/player_detail_serializer.rb
  thbigmatome/db/migrate/20260309135401_remove_speed_bunt_steal_injury_from_players.rb
  thbigmatome/db/schema.rb
  thbigmatome/lib/tasks/import_card_data.rake
  thbigmatome/spec/factories/players.rb
  thbigmatome/spec/models/player_spec.rb
  thbigmatome/spec/requests/api/v1/players_spec.rb
Due: rubocop, eslint, prettier
