Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

fix(spec): games_spec.rbのPARSER_API_URL環境依存を修正
  thbigmatome/spec/requests/api/v1/games_spec.rb
Due: rubocop

feat(players): cmd_515 Phase A+B — remove unused columns + PlayerCardSummarySerializer
  thbigmatome/app/controllers/api/v1/players_controller.rb
  thbigmatome/app/serializers/player_card_summary_serializer.rb
  thbigmatome/app/serializers/player_detail_serializer.rb
  thbigmatome/db/migrate/20260309142556_remove_pitching_style_desc_and_special_throwing_c_from_players.rb
  thbigmatome/db/schema.rb
Due: rubocop

feat(players): cmd_515 Phase C — FE大掃除（死コンポーネント削除 + 既存画面簡素化）
  thbigmatome-front/src/components/players/DefenseAbilityForm.vue
  thbigmatome-front/src/components/players/FielderAbilityForm.vue
  thbigmatome-front/src/components/players/PitchingAbilityForm.vue
  thbigmatome-front/src/components/players/PlayerDialog.vue
  thbigmatome-front/src/components/players/PlayerIdentityForm.vue
  thbigmatome-front/src/types/player.ts
  thbigmatome-front/src/types/playerDetail.ts
  thbigmatome-front/src/views/Players.vue
Due: eslint, prettier

fix(players): resolve N+1 by adding includes(player_cards: :card_set) to index
  thbigmatome/app/controllers/api/v1/players_controller.rb
Due: rubocop

feat(players): add PlayerDetailView with card list table and routing
  thbigmatome-front/src/router/index.ts
  thbigmatome-front/src/views/PlayerDetailView.vue
  thbigmatome-front/src/views/Players.vue
  thbigmatome-front/src/views/__tests__/PlayerDetailView.spec.ts
Due: eslint, prettier

feat: カード画像ライトボックス機能追加 (subtask_517a)
  thbigmatome-front/src/views/PlayerCardDetailView.vue
Due: eslint, prettier

feat(cmd_519): 選手カード一覧にカード画像表示を追加
  thbigmatome/app/controllers/api/v1/player_cards_controller.rb
  thbigmatome/app/serializers/player_card_serializer.rb
Due: rubocop

feat(cmd_519): 選手カード一覧にカード画像表示を追加
  thbigmatome-front/src/components/PlayerCardItem.vue
  thbigmatome-front/src/types/game-record.ts
  thbigmatome-front/src/views/PlayerCardsView.vue
Due: eslint, prettier

docs(cmd_520): FE画面仕様書 views.md を新規作成
  thbigmatome-front/docs/views.md
Due: none

docs: add db-schema.md and models.md to docs/ (subtask_520b1)
  thbigmatome/docs/db-schema-v1.md
  thbigmatome/docs/db-schema.md
  thbigmatome/docs/models.md
Due: none

docs(cmd_520): FE仕様書 components.md + composables-and-stores.md + types.md を新規作成、views.md ルート名修正
  thbigmatome-front/docs/components.md
  thbigmatome-front/docs/composables-and-stores.md
  thbigmatome-front/docs/types.md
  thbigmatome-front/docs/views.md
Due: none

docs: add context/thbigmatome.md as slimmed project overview with doc links (subtask_520a)
  thbigmatome/context/thbigmatome.md
Due: none

docs: add api-endpoints.md and serializers.md (subtask_520b2)
  thbigmatome/docs/api-endpoints.md
  thbigmatome/docs/serializers.md
Due: none

docs: add settings dialog/editor components to components.md (subtask_520c2_fix)
  thbigmatome-front/docs/components.md
Due: none

fix: ロスター画面ポジション表示バグ修正 (subtask_521a)
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/serializers/roster_player_serializer.rb
Due: rubocop

fix: RosterPlayer型定義に position フィールド追加 (subtask_521a)
  thbigmatome-front/src/types/rosterPlayer.ts
Due: eslint, prettier

feat: add position attribute to PlayerSerializer and fix downcase (subtask_522a)
  thbigmatome/app/controllers/api/v1/team_players_controller.rb
  thbigmatome/app/controllers/api/v1/team_registration_players_controller.rb
  thbigmatome/app/serializers/player_serializer.rb
  thbigmatome/app/serializers/roster_player_serializer.rb
Due: rubocop

feat: add position type, i18n keys, and null fallbacks for position display (subtask_522a)
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/types/player.ts
  thbigmatome-front/src/views/ActiveRoster.vue
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

feat(data): Player ID二重化解消スクリプト追加 (cmd_523)
  thbigmatome/scripts/dedup_players_dryrun.rb
  thbigmatome/scripts/dedup_players_execute.rb
Due: rubocop

feat(data): F/P重複Player統合スクリプト追加 (subtask_523b)
  thbigmatome/scripts/merge_fp_players_dryrun.rb
  thbigmatome/scripts/merge_fp_players_execute.rb
Due: rubocop

feat(migration): add players.series and card_sets.is_outside_world columns (subtask_523c)
  thbigmatome/db/migrate/20260310141952_add_series_to_players.rb
  thbigmatome/db/migrate/20260310141953_add_is_outside_world_to_card_sets.rb
  thbigmatome/db/schema.rb
  thbigmatome/db/scripts/set_outside_world_523c.rb
Due: rubocop

fix(data): cost_players fielder_only/pitcher_only 分離修正 (subtask_523b_fix)
  thbigmatome/scripts/fix_cost_players_merge.rb
Due: rubocop

feat(players): add Player.series value setting scripts
  thbigmatome/scripts/set_player_series.rb
  thbigmatome/scripts/set_player_series_dryrun.rb
Due: rubocop

feat(subtask_523e): Phase 5 外の世界枠判定復活
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/models/team.rb
Due: rubocop

fix(subtask_524a): position大文字問題修正 - downcase追加
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
Due: rubocop

fix(subtask_524a): TeamMembers.vue i18nキーをshortPositionsに変更
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

fix(import): derive_handedness を right_throw/right_bat 形式に修正
  thbigmatome/lib/tasks/import_card_data.rake
Due: none

fix(TeamMembers): getAvailableCostTypes player_type_ids依存を廃止
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

fix(import): 空白正規化でPlayer重複作成バグを修正 (cmd_527)
  thbigmatome/db/scripts/cleanup_duplicate_players_527.rb
  thbigmatome/lib/tasks/import_card_data.rake
Due: rubocop

feat(cmd_529): 選手詳細画面UI改善3点
  thbigmatome-front/src/stores/playersSearch.ts
  thbigmatome-front/src/types/playerDetail.ts
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/PlayerDetailView.vue
  thbigmatome-front/src/views/Players.vue
Due: eslint, prettier

feat(cmd_529): PlayerDetailSerializerにcosts追加、N+1対応
  thbigmatome/app/controllers/api/v1/players_controller.rb
  thbigmatome/app/serializers/player_detail_serializer.rb
Due: rubocop

fix(cmd_530): 利き腕スラッシュ対応・コスト一覧表示・カード一覧状態保持
  thbigmatome-front/src/stores/playerCardsSearch.ts
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/PlayerCardsView.vue
  thbigmatome-front/src/views/PlayerDetailView.vue
  thbigmatome-front/src/views/__tests__/PlayerCardsView.spec.ts
  thbigmatome/app/serializers/player_card_detail_serializer.rb
Due: rubocop, eslint, prettier

fix: BattingTable出目表示を1〜20に修正（rowIdx+2→rowIdx+1）
  thbigmatome-front/src/components/BattingTable.vue
Due: eslint, prettier

feat(cmd_532): コスト表示整理（基本情報削除 + 現行強調表示）
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome/app/serializers/player_card_detail_serializer.rb
Due: rubocop, eslint, prettier

fix: SeasonPortal 過去日付の試合結果入力制限を解除 (cmd_533)
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat: SeasonPortal・HomeViewにスケルトンローダー追加 (cmd_534)
  thbigmatome-front/src/views/HomeView.vue
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(cmd_544): Phase 0+1 — 認可基盤 + team_type DBコア実装
  docs/blog/01_team-building.md
  docs/game-result-enhancement-design.md
  docs/second-team-design.md
  thbigmatome/app/controllers/api/v1/team_players_controller.rb
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/controllers/api/v1/teams_controller.rb
  thbigmatome/app/models/team.rb
  thbigmatome/app/serializers/team_serializer.rb
  thbigmatome/context/player-master-redesign.md
  thbigmatome/db/migrate/20260312141759_add_team_type_to_teams.rb
  thbigmatome/db/schema.rb
  thbigmatome/db/scripts/cleanup_duplicate_players_527.rb
  thbigmatome/db/scripts/migrate_active_storage_518.sh
  thbigmatome/db/scripts/migrate_team_types.rb
  thbigmatome/script/dry_run_516.rb
  thbigmatome/spec/models/team_spec.rb
Due: rubocop

feat(cmd_546): Phase 2 選手排他バリデーション + チーム数制約実装
  thbigmatome/app/controllers/api/v1/teams_controller.rb
  thbigmatome/app/models/team_manager.rb
  thbigmatome/app/models/team_membership.rb
  thbigmatome/config/locales/ja.yml
  thbigmatome/spec/models/team_manager_spec.rb
  thbigmatome/spec/models/team_membership_spec.rb
Due: rubocop

feat(cmd_547): P0 Phase 3 — FEチーム作成UI + BE Warning修正
  thbigmatome-front/src/components/TeamDialog.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/types/team.ts
  thbigmatome-front/src/views/TeamList.vue
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome/app/controllers/api/v1/teams_controller.rb
Due: rubocop, eslint, prettier

feat(cmd_548): P0 Phase 4+5 - Manager UI + commissioner routes
  thbigmatome/app/controllers/api/v1/managers_controller.rb
  thbigmatome/app/controllers/api/v1/users_controller.rb
  thbigmatome/app/models/manager.rb
  thbigmatome/spec/requests/api/v1/managers_spec.rb
  thbigmatome/spec/requests/api/v1/teams_spec.rb
  thbigmatome/spec/requests/api/v1/users_spec.rb
Due: rubocop
