Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

rubocop:
  run: bundle exec rubocop -a {staged_files}
  stage_fixed: true

eslint:
  run: npx eslint --fix {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix(cmd_403): QC Warning残件6件一括修正
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome/app/controllers/api/v1/at_bat_records_controller.rb
  thbigmatome/app/controllers/api/v1/biorhythms_controller.rb
  thbigmatome/app/controllers/api/v1/commissioner/league_memberships_controller.rb
  thbigmatome/app/controllers/api/v1/commissioner/league_pool_players_controller.rb
  thbigmatome/app/controllers/api/v1/commissioner/league_seasons_controller.rb
  thbigmatome/app/controllers/api/v1/commissioner/leagues_controller.rb
  thbigmatome/app/controllers/api/v1/commissioner/player_absences_controller.rb
  thbigmatome/app/controllers/api/v1/commissioner/team_managers_controller.rb
  thbigmatome/app/controllers/api/v1/commissioner/team_memberships_controller.rb
  thbigmatome/app/controllers/api/v1/competition_rosters_controller.rb
  thbigmatome/app/controllers/api/v1/competitions_controller.rb
  thbigmatome/app/controllers/api/v1/costs_controller.rb
  thbigmatome/app/controllers/api/v1/game_controller.rb
  thbigmatome/app/controllers/api/v1/game_lineup_entries_controller.rb
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
  thbigmatome/app/controllers/api/v1/games_controller.rb
  thbigmatome/app/controllers/api/v1/managers_controller.rb
  thbigmatome/app/controllers/api/v1/player_absences_controller.rb
  thbigmatome/app/controllers/api/v1/player_cards_controller.rb
  thbigmatome/app/controllers/api/v1/players_controller.rb
  thbigmatome/app/controllers/api/v1/schedules_controller.rb
  thbigmatome/app/controllers/api/v1/seasons_controller.rb
  thbigmatome/app/controllers/api/v1/stadiums_controller.rb
  thbigmatome/app/controllers/api/v1/team_key_players_controller.rb
  thbigmatome/app/controllers/api/v1/team_players_controller.rb
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/controllers/api/v1/team_seasons_controller.rb
  thbigmatome/app/controllers/api/v1/teams_controller.rb
  thbigmatome/app/controllers/api/v1/users_controller.rb
  thbigmatome/spec/requests/api/v1/at_bat_records_spec.rb
  thbigmatome/spec/requests/api/v1/costs_spec.rb
  thbigmatome/spec/requests/api/v1/game_lineup_entries_spec.rb
  thbigmatome/spec/requests/api/v1/game_records_spec.rb
  thbigmatome/spec/requests/api/v1/games_spec.rb
  thbigmatome/spec/requests/api/v1/managers_spec.rb
  thbigmatome/spec/requests/api/v1/players_spec.rb
  thbigmatome/spec/requests/api/v1/team_rosters_spec.rb
  thbigmatome/spec/requests/api/v1/teams_spec.rb
  thbigmatome/spec/requests/api/v1/users_spec.rb
Due: rubocop, eslint, prettier

feat: add discrepancies column to at_bat_records (Phase A)
  thbigmatome/app/controllers/api/v1/at_bat_records_controller.rb
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
  thbigmatome/db/migrate/20260301072122_add_discrepancies_to_at_bat_records.rb
  thbigmatome/db/schema.rb
Due: rubocop

feat: add discrepancy display to GameRecordDetailView (Phase A)
  thbigmatome-front/src/views/GameRecordDetailView.vue
Due: eslint, prettier

feat: add source_events JSONB column to at_bat_records (subtask_415a)
  thbigmatome/app/controllers/api/v1/at_bat_records_controller.rb
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
  thbigmatome/db/migrate/20260301124226_add_source_events_to_at_bat_records.rb
  thbigmatome/db/schema.rb
Due: rubocop

feat: GameRecordDetailViewをイベントタイムラインUIに改修 (subtask_416a)
  thbigmatome-front/src/views/GameRecordDetailView.vue
Due: eslint, prettier

fix: CSS変数のscoped問題修正（:root→.v-container）
  thbigmatome-front/src/views/GameRecordDetailView.vue
Due: eslint, prettier

feat: add game_id FK to game_records and associate Game/GameRecord models
  thbigmatome/app/models/game.rb
  thbigmatome/app/models/game_record.rb
  thbigmatome/db/migrate/20260301140155_add_game_id_to_game_records.rb
  thbigmatome/db/schema.rb
Due: rubocop

refactor: extract AtBatRecordBuilder service from GameRecordsController
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
  thbigmatome/app/services/at_bat_record_builder.rb
  thbigmatome/spec/services/at_bat_record_builder_spec.rb
Due: rubocop

feat(cmd_419): import_logでGame+GameRecord+AtBatRecords同時作成
  thbigmatome/app/controllers/api/v1/games_controller.rb
  thbigmatome/app/serializers/game_serializer.rb
  thbigmatome/spec/requests/api/v1/games_spec.rb
Due: rubocop

feat: FE動線統合（ナビ整理/importリダイレクト/GamesViewレビューリンク/戻るボタン修正）
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/GameRecordDetailView.vue
  thbigmatome-front/src/views/GamesView.vue
  thbigmatome-front/src/views/__tests__/GameRecordDetailView.spec.ts
Due: eslint, prettier

refactor(GameImportView): remove Step3 bulk preview, add router injection to tests
  thbigmatome-front/src/router/index.ts
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/__tests__/GameImportView.spec.ts
Due: eslint, prettier

feat(player-cards): Implement Vuetify-based Player Card UI with grid view
  thbigmatome-front/src/components/BattingTable.vue
  thbigmatome-front/src/components/PlayerCardItem.vue
  thbigmatome-front/src/components/__tests__/BattingTable.spec.ts
  thbigmatome-front/src/components/__tests__/PlayerCardItem.spec.ts
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/PlayerCardsView.vue
Due: eslint, prettier

feat(review-ui-phase-b): add is_reviewed/review_notes fields and bulk confirm support
  thbigmatome/app/controllers/api/v1/at_bat_records_controller.rb
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
  thbigmatome/db/migrate/20260302114440_add_review_fields_to_at_bat_records.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/requests/api/v1/at_bat_records_spec.rb
  thbigmatome/spec/requests/api/v1/game_records_spec.rb
Due: rubocop

feat(review-ui-phase-b): add AtBatCard component and review progress UI
  thbigmatome-front/src/components/AtBatCard.vue
  thbigmatome-front/src/components/__tests__/AtBatCard.spec.ts
  thbigmatome-front/src/views/GameRecordDetailView.vue
  thbigmatome-front/src/views/__tests__/GameRecordDetailView.spec.ts
Due: eslint, prettier

fix(cmd_434): QC Warning 6件一括修正（型共通化・エラーハンドリング・強化バリデーション）
  thbigmatome-front/src/components/AtBatCard.vue
  thbigmatome-front/src/components/PlayerCardItem.vue
  thbigmatome-front/src/types/game-record.ts
  thbigmatome-front/src/views/GameRecordDetailView.vue
  thbigmatome/app/controllers/api/v1/at_bat_records_controller.rb
  thbigmatome/spec/requests/api/v1/at_bat_records_spec.rb
Due: rubocop, eslint, prettier

feat(player-card): redesign PlayerCard UI based on prototype design
  thbigmatome-front/src/App.vue
  thbigmatome-front/src/components/BattingTable.vue
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/PlayerCardsView.vue
Due: eslint, prettier

fix(player-cards): QC Warning 4件修正（subtask_435b）
  thbigmatome-front/src/components/BattingTable.vue
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/PlayerCardsView.vue
  thbigmatome/app/controllers/api/v1/player_cards_controller.rb
  thbigmatome/app/serializers/player_card_serializer.rb
Due: rubocop, eslint, prettier

feat(player_cards): add cost display to card list and detail views
  thbigmatome/app/controllers/api/v1/player_cards_controller.rb
  thbigmatome/app/serializers/player_card_detail_serializer.rb
  thbigmatome/app/serializers/player_card_serializer.rb
Due: rubocop

feat(player_cards): add cost column to list table and detail basic info
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/PlayerCardsView.vue
Due: eslint, prettier

fix(player_cards): fix non-deterministic cost lookup via Cost.current_cost
  thbigmatome/app/serializers/player_card_detail_serializer.rb
  thbigmatome/app/serializers/player_card_serializer.rb
  thbigmatome/spec/requests/api/v1/player_cards_spec.rb
Due: rubocop

feat(docker): Docker開発環境構築 Phase 1-3 (cmd_446)
  .env.example
  docker-compose.yml
  thbigmatome-front/Dockerfile.dev
  thbigmatome/Dockerfile.dev
  thbigmatome/config/database.yml
Due: none

fix(docker): npm→yarn修正・parser ENV コメントアウト（cmd_446 QC W1/W3対応）
  docker-compose.yml
  thbigmatome-front/Dockerfile.dev
Due: none

Add entrypoint.sh to remove stale server.pid on startup
  thbigmatome/Dockerfile.dev
  thbigmatome/entrypoint.sh
Due: none

Fix entrypoint.sh: use absolute path for server.pid removal and fix CRLF line endings
  thbigmatome/entrypoint.sh
Due: none

feat(review-ui): implement save/confirm functionality with gsm_value/adopted_value
  thbigmatome/app/controllers/api/v1/at_bat_records_controller.rb
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
  thbigmatome/db/migrate/20260303145237_add_adopted_value_to_at_bat_records.rb
  thbigmatome/db/schema.rb
Due: rubocop

fix(subtask_453a2): C1/C2/C3修正・テスト追加
  thbigmatome/app/controllers/api/v1/at_bat_records_controller.rb
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
  thbigmatome/db/migrate/20260303150521_add_stat_columns_to_game_records.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/requests/api/v1/at_bat_records_spec.rb
  thbigmatome/spec/requests/api/v1/game_records_spec.rb
Due: rubocop

feat(docker): Docker環境でパーサー→Rails連携を有効化 (subtask_452a)
  docker-compose.yml
  thbigmatome/app/controllers/api/v1/games_controller.rb
Due: rubocop

fix(game_records): case文順序バグ修正（HR→3H/2H→H/1B/IH の順に変更）
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
  thbigmatome/spec/requests/api/v1/game_records_spec.rb
Due: rubocop

feat(GameImportView): Step 2 リデザイン（解析サマリー・スタメン/ベンチ折りたたみ・怪我チェック）
  thbigmatome-front/src/types/game-record.ts
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/__tests__/GameImportView.spec.ts
Due: eslint, prettier

feat(ui): UI統廃合Phase 1 - SeasonPortalタブ化・LeaguesView削除 (cmd_464)
  thbigmatome-front/src/components/season/SeasonAbsenceTab.vue
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/router/index.ts
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome-front/src/views/commissioner/LeaguesView.vue
Due: eslint, prettier

feat(ui): UI統廃合Phase 2 - サイドバー再構成・Pinia store導入
  thbigmatome-front/package.json
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/layouts/__tests__/DefaultLayout.spec.ts
  thbigmatome-front/src/main.ts
  thbigmatome-front/src/stores/teamSelection.ts
  thbigmatome-front/yarn.lock
Due: eslint, prettier

fix(ui): selectTeam()呼び出し追加 - サイドバーシーズンリンク動作修正 (subtask_466a)
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome-front/src/views/TeamList.vue
Due: eslint, prettier

fix(TeamNavigation): 旧ルート名参照をSeasonPortalクエリパラメータ方式に修正
  thbigmatome-front/src/components/TeamNavigation.vue
Due: eslint, prettier

feat: トップページをSeasonPortalラッパーに変更（subtask_467a）
  thbigmatome-front/src/router/index.ts
  thbigmatome-front/src/views/HomePortalView.vue
Due: eslint, prettier

fix(ui): UI監査高優先度5件修正（X-1〜X-5）
  thbigmatome-front/src/components/season/SeasonAbsenceTab.vue
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/views/GameResult.vue
  thbigmatome-front/src/views/ScoreSheet.vue
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

fix(ui): UI監査中優先度5件修正（X-6〜X-10）
  thbigmatome-front/src/assets/base.css
  thbigmatome-front/src/components/EmptyState.vue
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/GameRecordDetailView.vue
  thbigmatome-front/src/views/ScoreSheet.vue
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(season-portal): カレンダーUIを和色テーマで全面刷新
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(prototypes): add SeasonPortal prototype (calendar + list view)
  thbigmatome-front/prototypes/season-portal-prototype.html
Due: none

feat(prototypes): SeasonPortalカレンダープロトタイプ再作成（ゲーム仕様版）
  thbigmatome-front/prototypes/season-portal-prototype.html
Due: none

feat(prototypes): チーム運営3画面プロトタイプ作成
  thbigmatome-front/prototypes/team-management-prototype.html
Due: none

Path conditions:
  rubocop: any of: thbigmatome/**/*.rb and ^thbigmatome/
  eslint: any of: thbigmatome-front/**/*.{js,ts,vue} and ^thbigmatome\-front/
  prettier: any of: thbigmatome-front/**/*.{js,ts,vue} and ^thbigmatome\-front/
