Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

fix(pitcher): fix Game not found error and announced starter display bug
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/types/gameData.ts
  thbigmatome-front/src/views/GameResult.vue
Due: eslint, prettier

fix(spec): add decision:'L' to KO test case in pitcher_appearances_spec
  thbigmatome/spec/requests/api/v1/pitcher_appearances_spec.rb
Due: rubocop

feat(cmd_650): 投手疲労状態確認API追加 (GET /fatigue_summary)
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/pitcher_game_states_spec.rb
Due: rubocop

feat(cmd_650): 投手状態一覧セクション追加（PitcherAppearanceTab）
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
Due: eslint, prettier

docs(subtask_652a): STALE README・api-endpoints更新
  thbigmatome/README.md
  thbigmatome/docs/api-endpoints.md
Due: none

chore: Ruby 3.4.4→3.4.7 + bundle update (solid_queue 1.4.0, rspec-rails 8.0.4, kamal 2.11.0 etc.)
  thbigmatome/.ruby-version
  thbigmatome/Gemfile.lock
Due: none

feat(player_absences): team_idフィルタ対応追加
  thbigmatome/app/controllers/api/v1/player_absences_controller.rb
  thbigmatome/spec/requests/api/v1/player_absences_spec.rb
Due: rubocop

chore(deps): Vuetify 3.12.0→4.0.3アップデート（Vue Router deprecation warning修正）
  thbigmatome-front/package.json
  thbigmatome-front/src/components/AtBatCard.vue
  thbigmatome-front/src/components/StartingMemberDialog.vue
  thbigmatome-front/src/components/pitcher/PitcherAppearanceForm.vue
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/components/players/PlayerIdentityForm.vue
  thbigmatome-front/src/components/shared/FilterBar.vue
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/Players.vue
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/yarn.lock
Due: eslint, prettier

feat(season-portal): WLD badge + 7-category color system for UD
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(season-portal): replace PitcherAppearanceForm button with GameResult pitchers tab nav
  thbigmatome-front/src/components/pitcher/PitcherAppearanceForm.vue
  thbigmatome-front/src/views/GameResult.vue
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(cmd_660): GameResult試合概要タブ改善4点
  thbigmatome-front/src/components/shared/TeamMemberSelect.vue
  thbigmatome-front/src/types/gameData.ts
  thbigmatome-front/src/views/GameResult.vue
  thbigmatome/app/controllers/api/v1/game_controller.rb
  thbigmatome/app/controllers/api/v1/team_memberships_controller.rb
Due: rubocop, eslint, prettier

feat(cleanup): remove ScoreSheet and StartingMemberDialog features completely
  docs/blog/01_team-building.md
  docs/game-result-enhancement-design.md
  docs/icon-candidates/svg/icon_thbig-dugout_a_titillium.svg
  docs/second-team-design.md
  package.json
  thbig-rules/player-card-spec.md
  thbig-rules/wiki/error_check_table.md
  thbigmatome-front/docs/auth-flow-design-576.md
  thbigmatome-front/docs/commissioner-mode-refactor-580.md
  thbigmatome-front/docs/commissioner-proxy-design-578.md
  thbigmatome-front/docs/ui-design-system.md
  thbigmatome-front/docs/ui-improvement-design-568.md
  thbigmatome-front/docs/unified-ui-design.html
  thbigmatome-front/src/components/Scoreboard.vue
  thbigmatome-front/src/components/StartingMemberDialog.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/router/index.ts
  thbigmatome-front/src/types/scoreboard.ts
  thbigmatome-front/src/types/startingMember.ts
  thbigmatome-front/src/views/GameResult.vue
  thbigmatome-front/src/views/ScoreSheet.vue
  thbigmatome/archive/cost-verification-report.md
  thbigmatome/archive/pm-cost-matching-report.md
  thbigmatome/context/frontend-screen-map.md
  thbigmatome/context/pitcher-fatigue-design.md
  thbigmatome/context/pitcher-rest-rules-analysis.md
  thbigmatome/context/pitcher-ui-design.html
  thbigmatome/entrypoint.sh
Due: eslint, prettier

feat(GameResult): ヘッダーをパンくずリスト方式に改善
  thbigmatome-front/src/views/GameResult.vue
Due: eslint, prettier

feat(cmd_663): TeamMemberSelect背番号検索追加・TeamMembers置き換え検討
  thbigmatome-front/src/components/shared/TeamMemberSelect.vue
  thbigmatome/app/controllers/api/v1/team_memberships_controller.rb
Due: rubocop, eslint, prettier

feat(pitcher_appearances): competition_id必須要件除去（team_id+schedule_dateの2点でGame特定）
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/app/models/game.rb
  thbigmatome/app/models/pitcher_game_state.rb
  thbigmatome/db/migrate/20260321131305_allow_null_competition_id_in_games.rb
  thbigmatome/db/migrate/20260321131354_allow_null_competition_id_in_pitcher_game_states.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/models/game_spec.rb
  thbigmatome/spec/models/pitcher_game_state_spec.rb
  thbigmatome/spec/requests/api/v1/pitcher_appearances_spec.rb
Due: rubocop

feat(pitcher_appearances): 登板記録バルク一括保存実装（トランザクション）
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/pitcher_appearances_spec.rb
Due: rubocop, eslint, prettier

fix(pitcher_game_states): players.positionをPlayerCard.is_pitcher=trueに修正
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
Due: rubocop

fix(pitcher_appearances): bulk_saveでschedule_dateがNULLになるバグ修正
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/db/migrate/20260321145423_repair_pitcher_game_states_schedule_date.rb
Due: rubocop

fix(cmd_669): 登板記録タブ2件バグ修正
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/app/serializers/player_serializer.rb
  thbigmatome/config/routes.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/requests/api/v1/pitcher_appearances_spec.rb
Due: rubocop, eslint, prettier

feat(cmd_671): 投手登板タブUI改善（✕ボタン右上固定・先発行差別化）
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
Due: eslint, prettier

feat(pitcher): add appearance_order column and D&D sort for reliever rows (cmd_673)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/types/pitcherAppearance.ts
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/db/migrate/20260322123417_add_appearance_order_to_pitcher_game_states.rb
  thbigmatome/db/schema.rb
Due: rubocop, eslint, prettier

feat(cmd_672): 試合結果入力画面に投手状態タブを追加
  thbigmatome-front/src/components/pitcher/PitcherStatusTab.vue
  thbigmatome-front/src/components/pitcher/__tests__/PitcherStatusTab.spec.ts
  thbigmatome-front/src/views/GameResult.vue
Due: eslint, prettier

feat(pitcher): unify field alignment and move no_out_exit to main row
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
Due: eslint, prettier

fix(PitcherStatusTab): rename gameDate prop to scheduleDate
  thbigmatome-front/src/components/pitcher/PitcherStatusTab.vue
  thbigmatome-front/src/views/GameResult.vue
Due: eslint, prettier

fix(cmd_675): 投手状態タブのデータ正確性修正2点
  thbigmatome-front/src/components/pitcher/__tests__/PitcherStatusTab.spec.ts
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/spec/requests/api/v1/pitcher_game_states_spec.rb
Due: rubocop, eslint, prettier

fix(PlayerCardDetailView): improve header contrast and enlarge card image
  thbigmatome-front/src/views/PlayerCardDetailView.vue
Due: eslint, prettier

fix(player-card): revert card image to 108x150 and add click-inducing UI
  thbigmatome-front/src/views/PlayerCardDetailView.vue
Due: eslint, prettier

feat(PlayerNameLink): add shared component with hover card image popup
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/components/pitcher/PitcherStatusTab.vue
  thbigmatome-front/src/components/pitcher/__tests__/PitcherStatusTab.spec.ts
  thbigmatome-front/src/components/shared/PlayerNameLink.vue
Due: eslint, prettier

feat(player_cards): add player_id filter to index action
  thbigmatome/app/controllers/api/v1/player_cards_controller.rb
  thbigmatome/spec/requests/api/v1/player_cards_spec.rb
Due: rubocop

feat(PlayerNameLink): always-on underline, icon, and open-delay 400ms
  thbigmatome-front/src/components/shared/PlayerNameLink.vue
Due: eslint, prettier

feat(ui): apply PlayerNameLink to GameLineupView and SeasonRosterTab
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/views/GameLineupView.vue
Due: eslint, prettier

feat(PlayerNameLink): add cardType prop for pitcher/batter card switching
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/components/pitcher/PitcherStatusTab.vue
  thbigmatome-front/src/components/shared/PlayerNameLink.vue
Due: eslint, prettier

fix: handedness未設定時のraw i18nキー表示崩れを修正
  thbigmatome-front/src/views/ActiveRoster.vue
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

feat(PlayerNameLink): add showBoth/costType props for two-way contract players
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/components/shared/PlayerNameLink.vue
  thbigmatome-front/src/views/ActiveRoster.vue
  thbigmatome-front/src/views/CompetitionRosterView.vue
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

fix(import): add upsert duplicate prevention by irc_macro_name in import_card_data task
  thbigmatome/lib/tasks/import_card_data.rake
Due: none

fix(TeamMembers): add null guard for cost_players in getPlayerCostLabel
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

fix(TeamMembers): use item.raw.position in v-autocomplete #item slot
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

fix(i18n): add short position keys to baseball.positions in ja.json
  thbigmatome-front/src/locales/ja.json
Due: none

fix(i18n): use baseball.positions for team member table position column
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

fix(font): restore Zen Kaku Gothic New as primary font + override Vuetify 4 defaults
  thbigmatome-front/src/assets/base.css
Due: none
