Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

fix(ui): restore Vuetify 3-equivalent spacing across all screens (cmd_691)
  thbigmatome-front/src/assets/base.css
  thbigmatome-front/src/plugins/vuetify.ts
Due: eslint, prettier

fix(vuetify4): replace deprecated dense prop with density="compact" in v-row
  thbigmatome-front/src/views/GameResult.vue
Due: eslint, prettier

fix(spacing): reduce line spacing in cooldown/absence info alerts
  thbigmatome-front/src/components/AbsenceInfo.vue
  thbigmatome-front/src/components/PromotionCooldownInfo.vue
Due: eslint, prettier

fix(team-members): チーム未選択時のチーム編成画面フォールバック修正
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/__tests__/TeamMembers.spec.ts
Due: eslint, prettier

feat(roster): add promotion history tab to roster screen
  thbigmatome-front/src/components/season/PromotionHistoryTab.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/views/ActiveRoster.vue
  thbigmatome/app/controllers/api/v1/roster_changes_controller.rb
  thbigmatome/spec/requests/api/v1/roster_changes_spec.rb
Due: rubocop, eslint, prettier

fix(TeamMembers): use item.position instead of item.raw.position in v-autocomplete #item slot
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

feat(cmd_701): 昇降格履歴タブをCompetitionRosterViewへ移設、ActiveRoster削除
  thbigmatome-front/src/views/ActiveRoster.vue
  thbigmatome-front/src/views/CompetitionRosterView.vue
  thbigmatome-front/src/views/__tests__/ActiveRoster.spec.ts
Due: eslint, prettier

feat(cmd_708): SeasonsControllerにTeamAccessible適用+destroyアクション追加+team_typeバックフィル
  thbigmatome/app/controllers/api/v1/seasons_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/db/migrate/20260324133546_backfill_season_team_type.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/requests/api/v1/seasons_spec.rb
Due: rubocop

feat(cmd_708): SeasonPortalにインライン初期化フォーム追加+SeasonInitializationDialog削除
  thbigmatome-front/src/components/SeasonInitializationDialog.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome-front/src/views/__tests__/SeasonPortal.spec.ts
Due: eslint, prettier

feat(season_portal): SeasonPortalに昇降格履歴タブ追加
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome-front/src/views/__tests__/SeasonPortal.spec.ts
Due: eslint, prettier

feat(cmd_710): PromotionHistoryTabのUI改善（ストライプ+日付フォーマット）
  thbigmatome-front/src/components/season/PromotionHistoryTab.vue
Due: eslint, prettier

feat(SeasonPortal): タブ順を使用頻度・作業フロー順に並べ替え
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

feat(ui): リリース向けUI整理（プレイヤー向け機能を非表示）
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/layouts/__tests__/DefaultLayout.spec.ts
  thbigmatome-front/src/views/HomePortalView.vue
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome-front/src/views/__tests__/HomePortalView.spec.ts
Due: eslint, prettier

feat(commissioner): 1軍登録状況タブ追加 (cmd_737)
  thbigmatome-front/src/components/commissioner/CommissionerDashboard.vue
  thbigmatome-front/src/components/commissioner/RosterStatusTab.vue
  thbigmatome-front/src/components/commissioner/__tests__/RosterStatusTab.spec.ts
Due: eslint, prettier

feat(commissioner): 1軍登録状況CSV出力・roster_status APIを実装 (cmd_735/cmd_738)
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/commissioner/dashboard_spec.rb
Due: rubocop

feat(ui): apply PlayerNameLink to absence views + add player_id to serializers (cmd_679)
  thbigmatome-front/src/components/season/SeasonAbsenceTab.vue
  thbigmatome-front/src/types/playerAbsence.ts
  thbigmatome-front/src/views/PlayerAbsenceHistory.vue
  thbigmatome/app/controllers/api/v1/competition_rosters_controller.rb
  thbigmatome/app/serializers/game_lineup_entry_serializer.rb
  thbigmatome/app/serializers/player_absence_serializer.rb
Due: rubocop, eslint, prettier

feat(security): CORS環境変数化 + 本番セキュリティ設定改善 (cmd_746)
  thbigmatome/.env.example
  thbigmatome/config/environments/production.rb
  thbigmatome/config/initializers/cors.rb
Due: rubocop

feat(seed): 本番用初期データseed化＋クリーン環境検証 (cmd_747)
  thbigmatome/db/import/cost_players_seed.csv
  thbigmatome/db/seeds.rb
  thbigmatome/db/seeds/import_cards.rb
  thbigmatome/db/seeds/production_costs.rb
  thbigmatome/db/seeds/production_seasons.rb
Due: rubocop

fix(seed): PMカード含む全カードセットにseries値を設定（外の世界枠修正）
  thbigmatome/db/seeds/import_cards.rb
Due: rubocop

fix(ci): package-lock.jsonを再生成してCI Vitest失敗を修正
  thbigmatome-front/package-lock.json
Due: none

fix(vitest): Vuetify 4.0.3 VFormバグによるunhandled rejectionを回避
  thbigmatome-front/vitest.config.ts
Due: none

fix(i18n): Vuetify 日本語ロケール適用（英語表記一括解消）
  thbigmatome-front/src/plugins/vuetify.ts
Due: eslint, prettier

fix(ui): コスト列2行崩れ修正＋1軍コスト上限null表示改善 (cmd_755)
  thbigmatome-front/src/components/commissioner/CommissionerDashboard.vue
  thbigmatome-front/src/components/commissioner/RosterStatusTab.vue
Due: eslint, prettier

fix(ui): コスト状況タブ種別日本語化・カードセットドロップダウン幅修正 (subtask_756a)
  thbigmatome-front/src/components/commissioner/CommissionerDashboard.vue
  thbigmatome-front/src/views/PlayerCardsView.vue
Due: eslint, prettier

feat(ui): UI細部修正バッチ（UI-009/012/013/014/016+locale確認）
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/Players.vue
  thbigmatome-front/src/views/TeamList.vue
  thbigmatome-front/src/views/commissioner/CardSetsView.vue
  thbigmatome-front/src/views/commissioner/UsersView.vue
Due: eslint, prettier

chore(deps): パッケージアップデート Rails 8.1.3 + npm脆弱性解消 (cmd_777)
  thbigmatome-front/package.json
  thbigmatome-front/yarn.lock
  thbigmatome/Gemfile.lock
Due: none

feat(seed): 本番用コミッショナーseedをENV.fetch方式に改善 (cmd_778)
  docker-compose.yml
  thbigmatome/.env.example
  thbigmatome/db/seeds.rb
  thbigmatome/db/seeds/production_users.rb
Due: rubocop

feat(ui): UI操作説明追加 ツールチップ・ヘルプ・空状態ガイド (cmd_779)
  thbigmatome-front/src/components/commissioner/CommissionerDashboard.vue
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/views/TeamList.vue
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

fix(ui): 外の世界枠ヘルプテキスト3箇所の誤認修正 (cmd_781)
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

feat(deploy): 本番デプロイ構成確立 ConoHa VPS 2GB対応 (cmd_786)
  docker-compose.prod.yml
  thbigmatome-front/Dockerfile.prod
  thbigmatome-front/nginx.prod.conf
  thbigmatome-front/src/plugins/axios.ts
  thbigmatome/.env.production.example
  thbigmatome/.gitignore
  thbigmatome/config/environments/production.rb
  thbigmatome/docs/deploy-guide.md
Due: rubocop, eslint, prettier

fix(front): FE本番ビルドTSエラー全修正 + コスト除外ヘルプテキスト修正 (cmd_787, cmd_782)
  thbigmatome-front/src/components/ManagerDialog.vue
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/components/PlayerAbsenceFormDialog.vue
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/components/settings/GenericMasterSettings.vue
  thbigmatome-front/src/components/settings/PlayerTypeDialog.vue
  thbigmatome-front/src/types/rosterPlayer.ts
  thbigmatome-front/src/views/CompetitionRosterView.vue
  thbigmatome-front/src/views/HomePortalView.vue
  thbigmatome-front/src/views/HomeView.vue
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

chore: robots.txtを追加（全ページクロール除外）
  thbigmatome-front/public/robots.txt
Due: none

feat(deploy): HTTPS対応 Let's Encrypt + certbot + Nginx SSL設定 (cmd_788)
  docker-compose.prod.yml
  thbigmatome-front/nginx.prod.conf
  thbigmatome/.env.production.example
  thbigmatome/docs/deploy-guide.md
Due: none

feat(deploy): thbig.funルートドメインからdugout.thbig.funへのリダイレクト追加 (cmd_788)
  thbigmatome-front/nginx.prod.conf
  thbigmatome/docs/deploy-guide.md
Due: none

feat(seed): 本番初期データ完全版 34チーム・30player・31Manager (cmd_778)
  thbigmatome/db/seeds.rb
  thbigmatome/db/seeds/production_managers.rb
  thbigmatome/db/seeds/production_teams.rb
  thbigmatome/db/seeds/production_users.rb
Due: rubocop

feat(seed): 本番初期データ修正
  thbigmatome/db/seeds/production_managers.rb
  thbigmatome/db/seeds/production_seasons.rb
  thbigmatome/db/seeds/production_users.rb
Due: rubocop

feat: 特例選手(key_player)選択UI + player_card紐付け (cmd_794)
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/types/seasonDetail.ts
  thbigmatome-front/src/views/SeasonPortal.vue
  thbigmatome/app/controllers/api/v1/seasons_controller.rb
  thbigmatome/app/controllers/api/v1/team_memberships_controller.rb
  thbigmatome/app/controllers/api/v1/team_players_controller.rb
  thbigmatome/app/models/team_membership.rb
  thbigmatome/app/serializers/season_detail_serializer.rb
  thbigmatome/app/serializers/team_membership_serializer.rb
  thbigmatome/config/routes.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/requests/api/v1/seasons_spec.rb
  thbigmatome/spec/requests/api/v1/team_players_spec.rb
Due: rubocop, eslint, prettier

feat(team): TeamMembershipにPlayerCard選択機能を追加
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/__tests__/TeamMembers.spec.ts
  thbigmatome/app/controllers/api/v1/team_players_controller.rb
  thbigmatome/app/serializers/team_player_serializer.rb
Due: rubocop, eslint, prettier

feat(db): team_membershipsにplayer_card_id追加マイグレーション (cmd_793)
  thbigmatome/db/migrate/20260328143743_add_player_card_id_to_team_memberships.rb
Due: rubocop

feat(TeamMembers): カード選択UIをモーダル廃止→ラジオボタン化・card_set単位統合
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier
