Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

feat(ui): cmd_570 — NavigationDrawer調整（大会管理/球場非表示・選手マスタ→選手一覧）
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/layouts/__tests__/DefaultLayout.spec.ts
  thbigmatome-front/src/views/PlayerDetailView.vue
Due: eslint, prettier

feat(ui): cmd_571 — チーム所持状況によるメニュー表示制御+コミッショナーモード固定
  thbigmatome-front/src/components/AppBar.vue
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/stores/teamSelection.ts
  thbigmatome-front/src/views/HomeView.vue
  thbigmatome-front/src/views/__tests__/HomeView.spec.ts
Due: eslint, prettier

fix(cmd_572): ログイン直後ローディング固まりバグ修正（レースコンディション対策）
  thbigmatome-front/src/views/HomePortalView.vue
Due: eslint, prettier

fix(HomePortalView): redirect when commissionerMode becomes true after mount
  thbigmatome-front/src/views/HomePortalView.vue
  thbigmatome-front/src/views/__tests__/HomePortalView.spec.ts
Due: eslint, prettier

fix(AppBar): show commissioner mode toggle button regardless of team ownership
  thbigmatome-front/src/components/AppBar.vue
Due: eslint, prettier

feat(auth): 認証フロー根本修正 — initializeUserState集約(cmd_576)
  thbigmatome-front/src/components/AppBar.vue
  thbigmatome-front/src/composables/__tests__/useAuth.spec.ts
  thbigmatome-front/src/composables/useAuth.ts
  thbigmatome-front/src/stores/teamSelection.ts
  thbigmatome-front/src/views/HomePortalView.vue
  thbigmatome-front/src/views/HomeView.vue
  thbigmatome-front/src/views/__tests__/HomePortalView.spec.ts
  thbigmatome-front/src/views/__tests__/HomeView.spec.ts
Due: eslint, prettier

feat(store): コミッショナー代理管理 Phase 1 — Store拡張+initializeUserState修正(cmd_578)
  thbigmatome-front/src/composables/__tests__/useAuth.spec.ts
  thbigmatome-front/src/composables/useAuth.ts
  thbigmatome-front/src/stores/teamSelection.ts
Due: eslint, prettier

feat(nav,home): コミッショナー代理管理 Phase 2 — NavigationDrawer+HomePortalView修正(cmd_578)
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/views/HomePortalView.vue
  thbigmatome-front/src/views/__tests__/HomePortalView.spec.ts
Due: eslint, prettier

feat(nav): コミッショナーメニューにチーム一覧リンク追加(cmd_579)
  thbigmatome-front/src/components/NavigationDrawer.vue
Due: eslint, prettier

refactor(store): commissionerModeStore完全廃止 Phase 1(cmd_580)
  thbigmatome-front/src/components/AppBar.vue
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/components/__tests__/AppBar.spec.ts
  thbigmatome-front/src/composables/__tests__/useAuth.spec.ts
  thbigmatome-front/src/composables/useAuth.ts
  thbigmatome-front/src/layouts/__tests__/DefaultLayout.spec.ts
  thbigmatome-front/src/stores/commissionerMode.ts
  thbigmatome-front/src/stores/teamSelection.ts
  thbigmatome-front/src/views/HomePortalView.vue
  thbigmatome-front/src/views/__tests__/HomePortalView.spec.ts
Due: eslint, prettier

feat(cmd_580): Phase 2+3 — HomePortalViewタブUI + CommissionerDashboard抽出 + i18nクリーンアップ
  thbigmatome-front/src/components/commissioner/CommissionerDashboard.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/views/HomePortalView.vue
  thbigmatome-front/src/views/__tests__/CommissionerDashboardView.spec.ts
  thbigmatome-front/src/views/__tests__/HomePortalView.spec.ts
  thbigmatome-front/src/views/commissioner/CommissionerDashboardView.vue
Due: eslint, prettier

feat(commissioner): 全チーム管理タブをCommissionerDashboardの先頭に追加(cmd_581)
  thbigmatome-front/src/components/commissioner/CommissionerDashboard.vue
  thbigmatome-front/src/views/__tests__/CommissionerDashboardView.spec.ts
Due: eslint, prettier

chore(docker): remove irc profile, add restart unless-stopped
  docker-compose.yml
Due: none

chore: add docs/blog/ and docs/tmp/ to .gitignore
  .gitignore
Due: none

fix: remove anonymous node_modules volumes from frontend and irc services
  docker-compose.yml
Due: none

fix(auth): ログイン後NavigationDrawerにコミッショナーメニューが表示されないバグ修正(cmd_597)
  thbigmatome-front/src/App.vue
  thbigmatome-front/src/router/authGuard.ts
Due: eslint, prettier

fix(auth): /loginルートでのcheckAuth()呼び出しを削除してリダイレクトループを解消(cmd_597)
  thbigmatome-front/src/router/authGuard.ts
Due: eslint, prettier

fix(auth): axiosインターセプターで/login上での401リダイレクトループを防止(cmd_597)
  thbigmatome-front/src/plugins/axios.ts
Due: eslint, prettier

fix(LoginForm): add nextTick before router.push to ensure reactivity propagation
  thbigmatome-front/src/views/LoginForm.vue
Due: eslint, prettier

fix(auth): ログイン直後コミッショナーメニュー未表示バグ修正(cmd_602)
  thbigmatome-front/src/router/authGuard.ts
Due: eslint, prettier

test(useSquadTextGenerator): handednessフィールドをRosterPlayer型に合わせて修正(cmd_607)
  thbigmatome-front/src/composables/__tests__/useSquadTextGenerator.spec.ts
Due: eslint, prettier

fix(test): fix throwing_hand/batting_hand残存 in ActiveRoster.spec.ts
  thbigmatome-front/src/views/__tests__/ActiveRoster.spec.ts
Due: eslint, prettier

feat(commissioner): コミッショナーバリデーション無効化（block→warning）
  thbigmatome/app/controllers/api/v1/team_players_controller.rb
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/models/team_membership.rb
  thbigmatome/spec/requests/api/v1/team_players_spec.rb
  thbigmatome/spec/requests/api/v1/team_rosters_spec.rb
Due: rubocop

feat(team-members): show backend warnings after save
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/__tests__/TeamMembers.spec.ts
Due: eslint, prettier

Add THBIG Dugout app branding assets
  thbigmatome-front/index.html
  thbigmatome-front/public/favicon.ico
  thbigmatome-front/public/icons/icon-16.png
  thbigmatome-front/public/icons/icon-180.png
  thbigmatome-front/public/icons/icon-192.png
  thbigmatome-front/public/icons/icon-32.png
  thbigmatome-front/public/icons/icon-512.png
  thbigmatome-front/public/manifest.webmanifest
  thbigmatome-front/src/components/AppBar.vue
  thbigmatome-front/src/components/AppFooter.vue
  thbigmatome-front/src/layouts/__tests__/DefaultLayout.spec.ts
  thbigmatome-front/src/locales/ja.json
Due: eslint, prettier

fix: regenerate transparent dugout icons
  docs/icon-candidates/svg/icon_thbig-dugout_a_titillium.svg
  thbigmatome-front/public/favicon.ico
  thbigmatome-front/public/icons/icon-16.png
  thbigmatome-front/public/icons/icon-180.png
  thbigmatome-front/public/icons/icon-192.png
  thbigmatome-front/public/icons/icon-32.png
  thbigmatome-front/public/icons/icon-512.png
Due: none

Replace Dugout header text with logo
  thbigmatome-front/public/logo-thbig-dugout.svg
  thbigmatome-front/src/components/AppBar.vue
Due: eslint, prettier

fix: restore dugout icon background
  docs/icon-candidates/svg/icon_thbig-dugout_a_titillium.svg
  thbigmatome-front/public/favicon.ico
  thbigmatome-front/public/icons/icon-16.png
  thbigmatome-front/public/icons/icon-180.png
  thbigmatome-front/public/icons/icon-192.png
  thbigmatome-front/public/icons/icon-32.png
  thbigmatome-front/public/icons/icon-512.png
Due: none

docs(thbig-rules): P裁定3件反映・旧パス7箇所修正・軽微3件修正 (subtask_640a)
  thbig-rules/card-structure.md
  thbig-rules/game-flow.md
  thbig-rules/irc-log-analysis.md
  thbig-rules/player-card-spec.md
  thbig-rules/procedures.md
  thbig-rules/review-report.md
  thbig-rules/wiki/baserunning_table.md
  thbig-rules/wiki/batting_result_table.md
  thbig-rules/wiki/bunt_table.md
  thbig-rules/wiki/error_check_table.md
  thbig-rules/wiki/fc_table.md
  thbig-rules/wiki/highlight_table.md
  thbig-rules/wiki/injury_table.md
  thbig-rules/wiki/qa.md
  thbig-rules/wiki/range_check_table.md
  thbig-rules/wiki/steal.md
  thbig-rules/wiki/traits.md
Due: none

feat(pitcher): 投手登板管理登録機能 BE実装 (subtask_644a)
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/app/models/pitcher_game_state.rb
  thbigmatome/config/routes.rb
  thbigmatome/db/migrate/20260320085820_add_columns_to_pitcher_game_states.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/requests/api/v1/pitcher_appearances_spec.rb
Due: rubocop

feat(pitcher): 投手登板管理登録機能 FE実装 (subtask_644a)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceForm.vue
  thbigmatome-front/src/types/pitcherAppearance.ts
  thbigmatome-front/src/views/SeasonPortal.vue
Due: eslint, prettier

fix(pitcher): QC CRITICAL/WARNING修正 (subtask_644a2)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceForm.vue
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/app/models/pitcher_game_state.rb
  thbigmatome/spec/requests/api/v1/pitcher_appearances_spec.rb
Due: rubocop, eslint, prettier

feat(pitcher): add pitcher_game_states API endpoint for pre-game state display
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/config/routes.rb
Due: rubocop

feat(game): tab-ify GameDetailView + add pitcher appearance tab with pre-game state
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/composables/useSquadTextGenerator.ts
  thbigmatome-front/src/views/GameDetailView.vue
Due: eslint, prettier

revert(game): GameDetailView.vue を cmd_645以前に戻す
  thbigmatome-front/src/views/GameDetailView.vue
Due: eslint, prettier

feat(game): タブ化 GameResult.vue（試合概要/登板記録）+ PitcherAppearanceTab props 調整 (subtask_646a)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/views/GameResult.vue
Due: eslint, prettier

feat(pitcher): 投手登板登録フォームUI調整（投球回/区分/責任投手チップ/コンパクト） (subtask_647a)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/views/GameResult.vue
Due: eslint, prettier

test(cmd_648): 投手疲労管理計算ロジックのユニットテスト追加
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/spec/models/pitcher_game_state_spec.rb
  thbigmatome/spec/requests/api/v1/pitcher_game_states_spec.rb
Due: rubocop

fix(pitcher_game_state): add decision='L' condition to KO判定
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/app/models/pitcher_game_state.rb
  thbigmatome/spec/models/pitcher_game_state_spec.rb
Due: rubocop

fix(game): add competition_id to game show response for pitcher appearance
  thbigmatome/app/controllers/api/v1/game_controller.rb
Due: rubocop
