Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

chore: bump version to v0.2.1
  CHANGELOG.md
  VERSION
  thbigmatome-front/package.json
Due: none

fix(ui): フッターバージョン表記をv0.2.1に更新
  thbigmatome-front/src/components/AppFooter.vue
Due: eslint, prettier

docs: デプロイ手順書のブランチ参照をmainに更新
  thbigmatome/DEPLOY.md
  thbigmatome/docs/deploy-guide.md
Due: none

fix(dugout): バグ3件修正 - 端数入力0補完/innings計算/cooldown null (cmd_946)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
Due: rubocop, eslint, prettier

fix(dugout): バグ2件修正 - チームダイアログ不開+累積イニング一律1 (cmd_948)
  thbigmatome-front/src/views/TeamList.vue
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
Due: rubocop, eslint, prettier

feat(dugout): コスト登録メニュー解禁+player_types APIバグ修正 (cmd_949)
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome/app/controllers/api/v1/cost_assignments_controller.rb
Due: rubocop, eslint, prettier

fix(dugout): チームダイアログ コーチ欄削除+director locale修正 (cmd_951)
  thbigmatome-front/src/components/TeamDialog.vue
  thbigmatome-front/src/locales/ja.json
Due: eslint, prettier

feat(dugout): コスト種別解禁条件実装 BE+FE (cmd_952)
  thbigmatome-front/src/types/costPlayer.ts
  thbigmatome-front/src/types/player.ts
  thbigmatome-front/src/views/CostAssignment.vue
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome/app/controllers/api/v1/cost_assignments_controller.rb
  thbigmatome/app/models/player.rb
  thbigmatome/app/serializers/player_serializer.rb
  thbigmatome/app/serializers/team_player_serializer.rb
Due: rubocop, eslint, prettier

fix(dugout): relief_only_cost解禁条件修正 (cmd_952)
  thbigmatome/app/models/player.rb
Due: rubocop

feat(dugout): コスト画面ハイブリッド拡張 - カード別コスト対応 (cmd_954)
  thbigmatome-front/src/types/costPlayer.ts
  thbigmatome-front/src/views/CostAssignment.vue
  thbigmatome/app/controllers/api/v1/cost_assignments_controller.rb
  thbigmatome/app/models/cost_player.rb
  thbigmatome/db/migrate/20260407233608_add_player_card_id_to_cost_players_v2.rb
  thbigmatome/db/schema.rb
Due: rubocop, eslint, prettier

feat(dugout): バリエーション自動判定+per-card available_cost_types (cmd_956)
  thbigmatome/app/controllers/api/v1/cost_assignments_controller.rb
  thbigmatome/app/models/player.rb
Due: rubocop

fix(dugout): 投手休養ルール3件修正 - 負傷中の休養凍結・減衰凍結・中10日全快 (cmd_955)
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/spec/requests/api/v1/pitcher_game_states_spec.rb
Due: rubocop

fix(dugout): hachinai_two_way?誤判定修正 - number<=39条件削除 (cmd_957)
  thbigmatome/app/models/player.rb
Due: rubocop

feat(dugout): オリジナル枠バリエーションテキスト整備 - 45件variant設定 (cmd_957)
  thbigmatome/db/import/player_cards.csv
  thbigmatome/db/patches/patch_original_variation_text.sql
  thbigmatome/db/seeds/import_cards.rb
Due: rubocop

fix(dugout): hachinai_two_way?に投手+野手両方保有チェック追加 (cmd_957)
  thbigmatome/app/models/player.rb
Due: rubocop

fix(dugout): コスト一覧からカード未登録選手を除外 (cmd_957)
  thbigmatome/app/controllers/api/v1/cost_assignments_controller.rb
  thbigmatome/spec/requests/api/v1/cost_assignments_spec.rb
Due: rubocop

fix(dugout): PM通し番号選手17件のvariant誤付与を修正 (cmd_957)
  thbigmatome/db/import/player_cards.csv
  thbigmatome/db/patches/patch_revert_pm_number_variants.sql
Due: none

feat(dugout): PM2026バリアント50件variant設定+元選手紐づけ (cmd_959)
  thbigmatome/db/import/player_cards.csv
  thbigmatome/db/patches/patch_variant_959.sql
Due: none

release: v0.3.0
  CHANGELOG.md
  VERSION
  package.json
  thbigmatome-front/package.json
Due: none

feat(dugout): チーム一覧アクティブ優先ソート+destroy防御的修正 (cmd_966)
  thbigmatome/app/controllers/api/v1/teams_controller.rb
  thbigmatome/spec/requests/api/v1/teams_spec.rb
Due: rubocop

fix(dugout): バリエーション持ち選手のコスト検索をvariant-aware化 (cmd_967)
  thbigmatome/app/controllers/api/v1/competition_rosters_controller.rb
  thbigmatome/app/models/team.rb
  thbigmatome/app/serializers/cost_player_serializer.rb
  thbigmatome/app/serializers/team_player_serializer.rb
  thbigmatome/app/services/cost_validator.rb
  thbigmatome/spec/services/cost_validator_spec.rb
Due: rubocop

fix(dugout-fe): TeamMembersバリエーション対応コスト検索 (cmd_967)
  thbigmatome-front/src/types/playerCost.ts
  thbigmatome-front/src/views/TeamMembers.vue
Due: eslint, prettier

fix(dugout): 0アウト降板(no_out_exit)の累積投球回+2反映 (cmd_968)
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/db/migrate/20260409123501_add_no_out_exit_to_pitcher_game_states.rb
  thbigmatome/spec/requests/api/v1/pitcher_game_states_spec.rb
Due: rubocop

fix(dugout-fe): 0アウト降板no_out_exitペイロード送信対応 (cmd_968)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/types/pitcherAppearance.ts
Due: eslint, prettier

fix(dugout): 0アウト降板累積ロジック修正 +2固定→max(ip+flag,1) (cmd_970)
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/spec/requests/api/v1/pitcher_game_states_spec.rb
Due: rubocop

feat(dugout): 先発長イニング敗戦ペナルティにno_out_exit関与イニング計算適用 (cmd_971)
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
  thbigmatome/app/models/pitcher_game_state.rb
  thbigmatome/spec/models/pitcher_game_state_spec.rb
Due: rubocop

feat(dugout): 関与イニング数を通算アウト数ベースに修正 (cmd_973)
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/context/pitcher-fatigue-design.md
Due: rubocop

feat(dugout): 本番DBバックアップ体制構築 (cmd_980)
  thbigmatome/docs/backup_operations.md
  thbigmatome/scripts/backup/backup_daily.sh
  thbigmatome/scripts/backup/cron.d/backup
  thbigmatome/scripts/backup/pull_backup.sh
  thbigmatome/scripts/backup/restore.sh
Due: none

release: v0.3.1
  CHANGELOG.md
  VERSION
  package.json
  thbigmatome-front/package.json
  thbigmatome/db/schema.rb
  thbigmatome/db/seeds/production/v0.3.1_card_registration.sql
  thbigmatome/docs/backup_operations.md
  thbigmatome/scripts/backup/backup_daily.sh
  thbigmatome/scripts/backup/cron.d/backup
  thbigmatome/scripts/backup/pull_backup.sh
  thbigmatome/scripts/backup/restore.sh
Due: rubocop

fix(sql): v0.3.1カード登録SQLをA5M2互換に変換 (cmd_984)
  thbigmatome/db/seeds/production/v0.3.1_card_registration.sql
Due: none

fix(dugout): 0アウト降板チェックが本番で機能しない不具合修正 (cmd_985)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome/app/controllers/api/v1/pitcher_appearances_controller.rb
Due: rubocop, eslint, prettier

fix(frontend): トップ画面バージョン文字列をv0.3.1に更新 (subtask_986a)
  thbigmatome-front/src/components/AppFooter.vue
Due: eslint, prettier

fix(dugout): no_out_exit時のinnings_pitched=0強制送信バグ修正 (subtask_987c)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome/spec/requests/api/v1/pitcher_game_states_spec.rb
Due: rubocop, eslint, prettier

fix(dugout): 新人監督チーム登録不可+高坂コスト修正 (cmd_1014/subtask_1014a)
  thbigmatome/app/controllers/api/v1/users_controller.rb
  thbigmatome/app/controllers/concerns/team_accessible.rb
Due: rubocop

feat(dugout): チーム一覧に最終試合日・ゲーム内日付・ソート追加 (cmd_1015/subtask_1015a)
  thbigmatome-front/src/components/commissioner/CommissionerDashboard.vue
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/types/team.ts
  thbigmatome-front/src/views/TeamList.vue
  thbigmatome/app/controllers/api/v1/teams_controller.rb
  thbigmatome/app/serializers/team_serializer.rb
  thbigmatome/spec/requests/api/v1/teams_spec.rb
Due: rubocop, eslint, prettier

fix(dugout): 桜田二刀流コスト+川口息吹投手認識バグ修正 (cmd_1017/subtask_1017a)
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/app/controllers/api/v1/team_memberships_controller.rb
  thbigmatome/app/models/player.rb
  thbigmatome/spec/models/player_spec.rb
Due: rubocop

fix(dugout): 川口息吹投手認識バグ修正 - can_pitch?メソッド導入 (cmd_1018/subtask_1018a)
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/app/serializers/roster_player_serializer.rb
  thbigmatome/spec/models/player_card_spec.rb
Due: rubocop

fix(frontend): 川口息吹投手認識バグ修正 - is_pitcher型定義+投手判定修正 (cmd_1019/subtask_1019a,1019b)
  thbigmatome-front/src/types/game-record.ts
  thbigmatome-front/src/views/PlayerCardDetailView.vue
Due: eslint, prettier

fix(dugout): 投手認識フィルタ修正漏れ対応BE - is_pitcher属性追加 (cmd_1020/subtask_1020a)
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/serializers/player_serializer.rb
Due: rubocop

fix(frontend): 投手認識フィルタ修正漏れ対応FE - SeasonRoster/PitcherAppearance修正 (cmd_1020/subtask_1020a)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome-front/src/types/rosterPlayer.ts
Due: eslint, prettier
