Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

fix: GameImportView エラーメッセージ改善（APIエラー詳細を表示） cmd_317
  thbigmatome-front/src/views/GameImportView.vue
Due: eslint, prettier

fix: import_logレスポンスをFE期待構造に整形（at_bats flat化）cmd_320
  thbigmatome/app/controllers/api/v1/games_controller.rb
Due: rubocop

fix: import_logプレビューのフィールド名変換追加 cmd_321
  thbigmatome/app/controllers/api/v1/games_controller.rb
Due: rubocop

fix: team_memberships_specのgeneral_user変数をplayer_userにrename cmd_318
  thbigmatome/spec/requests/commissioner/team_memberships_spec.rb
Due: rubocop

fix: axiosリクエストから/api/v1/プレフィックス除去、roleコメント修正 cmd_318
  thbigmatome-front/e2e/auth.spec.ts
  thbigmatome-front/e2e/roster.spec.ts
  thbigmatome-front/src/views/CompetitionRosterView.vue
  thbigmatome-front/src/views/StatsView.vue
  thbigmatome-front/src/views/__tests__/StatsView.spec.ts
  thbigmatome-front/src/views/commissioner/CompetitionsView.vue
Due: eslint, prettier

fix: TeamDialogのmanagers取得でitemsはイテラブルエラーを修正
  thbigmatome-front/src/components/TeamDialog.vue
Due: eslint, prettier

feat: FEテーマ/レイアウトWarning修正（ホームアイコン/max-width/テーマトグル/JetBrains Mono）cmd_319
  thbigmatome-front/index.html
  thbigmatome-front/src/App.vue
  thbigmatome-front/src/components/AppBar.vue
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/layouts/DefaultLayout.vue
Due: eslint, prettier

fix: commissionerユーザーmoriのパスワードをseeds.rbで設定しログイン401を修正 cmd_325
  thbigmatome/db/seeds.rb
Due: rubocop

fix: プレビューテーブル全件表示（items-per-page=-1） cmd_329
  thbigmatome-front/src/views/GameImportView.vue
Due: eslint, prettier

feat: プレビューに走者状況・アウトカウント・イベント表示追加 cmd_330
  thbigmatome-front/src/views/GameImportView.vue
Due: eslint, prettier

feat: import_logレスポンスにフィールド追加 cmd_330
  thbigmatome/app/controllers/api/v1/games_controller.rb
Due: rubocop

feat: DBスキーマ再設計 — 新テーブル7+player_cards変更 (subtask_365b)
  thbigmatome/app/models/ability_definition.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/app/models/player_card_ability.rb
  thbigmatome/app/models/player_card_defense.rb
  thbigmatome/app/models/player_card_exclusive_catcher.rb
  thbigmatome/app/models/player_card_trait.rb
  thbigmatome/app/models/trait_condition.rb
  thbigmatome/app/models/trait_definition.rb
  thbigmatome/db/migrate/20260226200501_create_trait_conditions.rb
  thbigmatome/db/migrate/20260226200502_create_trait_definitions.rb
  thbigmatome/db/migrate/20260226200503_create_ability_definitions.rb
  thbigmatome/db/migrate/20260226200504_create_player_card_defenses.rb
  thbigmatome/db/migrate/20260226200505_create_player_card_traits.rb
  thbigmatome/db/migrate/20260226200506_create_player_card_abilities.rb
  thbigmatome/db/migrate/20260226200507_create_player_card_exclusive_catchers.rb
  thbigmatome/db/migrate/20260226200508_update_player_cards_schema.rb
  thbigmatome/db/migrate/20260226200509_rename_default_role_columns.rb
  thbigmatome/db/schema.rb
  thbigmatome/db/seeds.rb
  thbigmatome/db/seeds/master_traits.rb
Due: rubocop

fix: 1C5 typical_role修正(pitcher→batter)+1C5/1P5 description修正 (subtask_365b_fix)
  thbigmatome/db/seeds/master_traits.rb
Due: rubocop

feat: add IRC integration fields to player_cards (subtask_366b)
  thbigmatome/db/migrate/20260226200510_add_irc_fields_to_player_cards.rb
  thbigmatome/db/schema.rb
Due: rubocop

feat: Active Storage導入 + カードデータインポートRakeタスク追加 (subtask_369a)
  thbigmatome/Gemfile
  thbigmatome/Gemfile.lock
  thbigmatome/app/models/player_card.rb
  thbigmatome/db/migrate/20260226200511_create_active_storage_tables.active_storage.rb
  thbigmatome/db/schema.rb
  thbigmatome/lib/tasks/import_card_data.rake
  thbigmatome/spec/lib/tasks/import_card_data_spec.rb
  thbigmatome/spec/models/player_card_spec.rb
Due: rubocop

feat: add import:card_images rake task for Active Storage attachment
  thbigmatome/lib/tasks/import_card_images.rake
Due: none

feat: add display_name to team_memberships for player nickname
  thbigmatome/app/controllers/api/v1/commissioner/team_memberships_controller.rb
  thbigmatome/app/controllers/api/v1/team_players_controller.rb
  thbigmatome/app/serializers/team_membership_serializer.rb
  thbigmatome/app/serializers/team_player_serializer.rb
  thbigmatome/db/migrate/20260226200512_add_display_name_to_team_memberships.rb
  thbigmatome/db/schema.rb
Due: rubocop

feat: add display_name field to TeamMembers view for player nickname
  thbigmatome-front/src/locales/ja.json
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/__tests__/TeamMembers.spec.ts
Due: eslint, prettier

feat: add card_type to player_cards for two-way player support
  thbigmatome/app/models/player_card.rb
  thbigmatome/db/migrate/20260226200513_add_card_type_to_player_cards.rb
  thbigmatome/db/schema.rb
  thbigmatome/lib/tasks/import_card_data.rake
  thbigmatome/spec/lib/tasks/import_card_data_spec.rb
  thbigmatome/spec/models/player_card_spec.rb
Due: rubocop

fix: injury_rate有効範囲を1..7から0..7に拡張（0=怪我特徴なし対応）
  thbigmatome/app/models/concerns/baseball_card_validations.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/spec/models/player_spec.rb
Due: rubocop

fix: resolve QC warnings from cmd_369-373 (cmd_374)
  thbigmatome/app/models/concerns/baseball_card_validations.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/db/migrate/20260226230906_add_not_null_to_player_card_card_type.rb
  thbigmatome/db/schema.rb
  thbigmatome/lib/tasks/import_card_data.rake
  thbigmatome/lib/tasks/import_card_images.rake
  thbigmatome/spec/factories/player_cards.rb
  thbigmatome/spec/models/player_spec.rb
  thbigmatome/spec/models/team_membership_spec.rb
Due: rubocop

feat: add PlayerCards API (index/show/update) (cmd_379)
  thbigmatome/app/controllers/api/v1/player_cards_controller.rb
  thbigmatome/app/serializers/player_card_detail_serializer.rb
  thbigmatome/app/serializers/player_card_serializer.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/player_cards_spec.rb
Due: rubocop

feat: add PlayerCardsView + PlayerCardDetailView (cmd_379)
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/router/index.ts
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/PlayerCardsView.vue
  thbigmatome-front/src/views/__tests__/PlayerCardDetailView.spec.ts
  thbigmatome-front/src/views/__tests__/PlayerCardsView.spec.ts
Due: eslint, prettier

feat: cmd_380 選手カード詳細UI改善（画像拡大・情報拡充・全項目編集対応）
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome-front/src/views/__tests__/PlayerCardDetailView.spec.ts
  thbigmatome/app/controllers/api/v1/player_cards_controller.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/app/serializers/player_card_detail_serializer.rb
  thbigmatome/db/migrate/20260227102506_add_handedness_and_flags_to_player_cards.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/requests/api/v1/player_cards_spec.rb
Due: rubocop, eslint, prettier

feat: 打撃結果表の色分けをIRC準拠に変更＋レイアウト改善 (subtask_380b)
  thbigmatome-front/src/views/PlayerCardDetailView.vue
Due: eslint, prettier

fix: カード詳細画面バグ修正3件（ダークモード/レンジ色/列幅）
  thbigmatome-front/src/views/PlayerCardDetailView.vue
Due: eslint, prettier

fix: Vuetify useTheme API修正（.current → .global.current）subtask_382a
  thbigmatome-front/src/views/PlayerCardDetailView.vue
Due: eslint, prettier

fix: AppBar.vueテーマ参照TypeError修正（thbigLight/Dark→light/dark）subtask_383a
  thbigmatome-front/src/App.vue
  thbigmatome-front/src/components/AppBar.vue
Due: eslint, prettier

fix: cmd_383残件3項目対応（利き腕/レンジ色/ダークモード色）subtask_383b
  thbigmatome-front/src/views/PlayerCardDetailView.vue
  thbigmatome/lib/tasks/import_card_data.rake
Due: eslint, prettier

feat: 和色カスタムテーマ復活 + Vuetify非推奨API修正
  thbigmatome-front/src/App.vue
  thbigmatome-front/src/components/AppBar.vue
  thbigmatome-front/src/main.ts
  thbigmatome-front/src/plugins/vuetify.ts
Due: eslint, prettier

fix: import_card_images で card_type を考慮した PlayerCard 検索に修正
  thbigmatome/lib/tasks/import_card_images.rake
Due: none

feat: add game_records and at_bat_records API (cmd_393)
  thbigmatome/app/controllers/api/v1/at_bat_records_controller.rb
  thbigmatome/app/controllers/api/v1/game_records_controller.rb
  thbigmatome/app/models/at_bat_record.rb
  thbigmatome/app/models/game_record.rb
  thbigmatome/config/routes.rb
  thbigmatome/db/migrate/20260228045800_create_game_records.rb
  thbigmatome/db/migrate/20260228045801_create_at_bat_records.rb
  thbigmatome/db/schema.rb
  thbigmatome/spec/factories/at_bat_records.rb
  thbigmatome/spec/factories/game_records.rb
  thbigmatome/spec/models/at_bat_record_spec.rb
  thbigmatome/spec/models/game_record_spec.rb
  thbigmatome/spec/requests/api/v1/at_bat_records_spec.rb
  thbigmatome/spec/requests/api/v1/game_records_spec.rb
Due: rubocop

feat: パーサー結果レビューUI実装 (cmd_394)
  thbigmatome-front/src/components/NavigationDrawer.vue
  thbigmatome-front/src/router/index.ts
  thbigmatome-front/src/test-setup.ts
  thbigmatome-front/src/views/GameRecordDetailView.vue
  thbigmatome-front/src/views/GameRecordListView.vue
  thbigmatome-front/src/views/__tests__/GameRecordDetailView.spec.ts
  thbigmatome-front/src/views/__tests__/GameRecordListView.spec.ts
  thbigmatome-front/vitest.config.ts
Due: eslint, prettier

fix(cmd_395): BE-FEインターフェース不整合3件修正
  thbigmatome-front/src/views/GameRecordDetailView.vue
  thbigmatome-front/src/views/GameRecordListView.vue
  thbigmatome-front/src/views/__tests__/GameRecordDetailView.spec.ts
  thbigmatome-front/src/views/__tests__/GameRecordListView.spec.ts
Due: eslint, prettier

fix: GamesController#import_log で venv Python を使用するよう修正
  thbigmatome/app/controllers/api/v1/games_controller.rb
Due: rubocop

feat: add parse_log endpoint — log+pregame parse without DB write (cmd_397)
  thbigmatome/app/controllers/api/v1/games_controller.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/games_spec.rb
Due: rubocop

feat: simplify GameImportView — Step1 log only → Step2 pregame confirm → Step3 preview (cmd_397)
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/__tests__/GameImportView.spec.ts
Due: eslint, prettier

feat(cmd_398): enrich import preview with linescore, pitcher summary, event editor
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/__tests__/GameImportView.spec.ts
  thbigmatome/app/controllers/api/v1/games_controller.rb
Due: rubocop, eslint, prettier

fix: ラインスコアバグ2件修正（列数倍・表裏振り分け）
  thbigmatome-front/src/views/GameImportView.vue
  thbigmatome-front/src/views/__tests__/GameImportView.spec.ts
Due: eslint, prettier

fix: correct top_bottom comparison from '表'/'裏' to 'top'/'bottom' in GameImportView
  thbigmatome-front/src/views/GameImportView.vue
Due: eslint, prettier
