Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

fix(dashboard): player.short_name nil時にnameへフォールバック (cmd_auto_00w)
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/spec/requests/api/v1/commissioner/dashboard_spec.rb
Due: rubocop

fix(serializer): PlayerCardSerializer image_url のハードコードホスト除去 (cmd_805)
  thbigmatome/app/serializers/player_card_detail_serializer.rb
  thbigmatome/app/serializers/player_card_serializer.rb
  thbigmatome/spec/serializers/player_card_detail_serializer_spec.rb
  thbigmatome/spec/serializers/player_card_serializer_spec.rb
Due: rubocop

fix(rake): CARD_IMAGE_DIRデフォルトパスを修正（projects/thbig配下に統一）
  thbigmatome/lib/tasks/import_card_images.rake
Due: none

security: ignore-scripts=true でサプライチェーン攻撃対策を追加
  thbigmatome-front/.npmrc
Due: none

fix(serializer): ActiveStorage URL protocol修正（本番カード画像404対策） (cmd_835)
  thbigmatome/app/serializers/player_card_detail_serializer.rb
  thbigmatome/app/serializers/player_card_serializer.rb
  thbigmatome/config/environments/production.rb
Due: rubocop

docs: v0.2.0リリースドキュメント整備 (cmd_837)
  thbigmatome/CHANGELOG.md
  thbigmatome/DEPLOY.md
  thbigmatome/README.md
Due: none

feat(config): ゲームルール正本YAML作成 (cmd_849)
  thbigmatome/config/game_rules.yaml
Due: none

docs: 仕様書にgame_rules.yaml正本参照追加+デプロイガイド拡充 (cmd_852)
  thbigmatome/docs/api-endpoints.md
  thbigmatome/docs/db-schema.md
  thbigmatome/docs/deploy-guide.md
  thbigmatome/docs/models.md
Due: none

docs: models/db-schema仕様書をコード現状に追従更新 batch1 (cmd_853)
  thbigmatome/docs/db-schema.md
  thbigmatome/docs/models.md
Due: none

docs: api-endpoints/serializers仕様書をコード現状に追従更新 batch2 (cmd_853)
  thbigmatome/docs/api-endpoints.md
  thbigmatome/docs/serializers.md
Due: none

docs: v0.2.0リリースドキュメント整備（FE CHANGELOG新規+README全面更新+BE日付修正） (cmd_837)
  thbigmatome-front/CHANGELOG.md
  thbigmatome-front/README.md
  thbigmatome/CHANGELOG.md
Due: none

chore: bump version to v0.2.0
  CHANGELOG.md
  VERSION
  package.json
  thbigmatome-front/package.json
Due: none

feat(seeds): 日程表マスタseed分離 + 既存シーズンへのSeasonSchedule一括生成 (cmd_902)
  thbigmatome/db/seeds.rb
  thbigmatome/db/seeds/production_schedules.rb
  thbigmatome/db/seeds/production_seasons.rb
Due: rubocop

fix(models): P1修正 - 選手排他on:update追加 + ロスター人数制限バリデーション (cmd_903)
  thbigmatome/app/models/team_membership.rb
  thbigmatome/config/locales/ja.yml
  thbigmatome/test/fixtures/batting_skills.yml
  thbigmatome/test/fixtures/batting_styles.yml
  thbigmatome/test/fixtures/biorhythms.yml
  thbigmatome/test/fixtures/pitching_skills.yml
  thbigmatome/test/fixtures/pitching_styles.yml
  thbigmatome/test/fixtures/player_absences.yml
  thbigmatome/test/fixtures/players.yml
  thbigmatome/test/fixtures/season_schedules.yml
  thbigmatome/test/fixtures/seasons.yml
  thbigmatome/test/fixtures/teams.yml
  thbigmatome/test/models/team_membership_test.rb
Due: rubocop

refactor(game_rules): v1.1フォーマット — AIエージェント向けメタデータ追加 (cmd_905)
  thbigmatome/app/models/team_membership.rb
  thbigmatome/config/game_rules.yaml
Due: rubocop

feat(player_cards): variantカラム追加 — 同一セット内複数カード対応 (cmd_906)
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome/app/models/player_card.rb
  thbigmatome/app/serializers/player_card_serializer.rb
  thbigmatome/app/serializers/team_player_serializer.rb
  thbigmatome/config/game_rules.yaml
  thbigmatome/db/import/player_cards.csv
  thbigmatome/db/migrate/20260404164039_add_variant_to_player_cards.rb
  thbigmatome/db/schema.rb
  thbigmatome/db/seeds/import_cards.rb
Due: rubocop, eslint, prettier

feat: thbig-rulesリポジトリ初期整備 — Layer A正本+Layer B概念定義書 (cmd_907)
  thbig-rules/README.md
  thbig-rules/date-concepts.md
  thbig-rules/game_rules.yaml
  thbig-rules/mechanics/batting-flow.md
  thbig-rules/mechanics/result-codes.md
  thbig-rules/mechanics/up-table.md
Due: none

feat: ゲームルール同期基盤 — Makefile sync-rules + rake rules:check (cmd_907)
  thbigmatome/Makefile
  thbigmatome/config/.game_rules_synced_version
  thbigmatome/lib/tasks/rules.rake
Due: none

feat(game_rules): v1.2 — gameセクション追加（batting_order/ko_innings_threshold） (cmd_908)
  thbig-rules/game_rules.yaml
Due: none

refactor(models): Dugoutハードコード解消 — 全ゲームルール値をgame_rules.yaml参照に統一 (cmd_908)
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/models/game_lineup_entry.rb
  thbigmatome/app/models/pitcher_game_state.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/app/models/team.rb
  thbigmatome/app/models/team_manager.rb
  thbigmatome/app/services/cost_validator.rb
  thbigmatome/config/.game_rules_synced_version
  thbigmatome/config/cost_limits.yml
  thbigmatome/config/game_rules.yaml
  thbigmatome/spec/models/team_spec.rb
Due: rubocop

feat(game_rules): v1.3 — roster値修正(50/25)+implementation→note置換+大会上書き機構 (cmd_909)
  thbig-rules/game_rules.yaml
Due: none

feat(models): game_rules.yaml v1.3対応 — roster値50/25+試合未実施スキップ (cmd_909)
  thbigmatome/app/models/team_membership.rb
  thbigmatome/config/.game_rules_synced_version
  thbigmatome/config/game_rules.yaml
  thbigmatome/test/models/team_membership_test.rb
Due: rubocop

refactor(game_rules): v1.4 — 2レイヤー構造(thbig_baseball/lpena)再編+プロジェクト固有情報除去 (cmd_910)
  thbig-rules/game_rules.yaml
Due: none

refactor(models): game_rules.yaml v1.4対応 — digパス全更新+dugout_integrity.yaml新設 (cmd_910)
  thbigmatome/app/models/game_lineup_entry.rb
  thbigmatome/app/models/pitcher_game_state.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/app/models/team.rb
  thbigmatome/app/models/team_manager.rb
  thbigmatome/app/models/team_membership.rb
  thbigmatome/app/services/cost_validator.rb
  thbigmatome/config/.game_rules_synced_version
  thbigmatome/config/dugout_integrity.yaml
  thbigmatome/config/game_rules.yaml
  thbigmatome/spec/models/team_spec.rb
Due: rubocop

docs: game_rules.yamlクリーンアップ+人間向けルールガイド5本 (cmd_911)
  thbig-rules/docs/README.md
  thbig-rules/docs/card-system.md
  thbig-rules/docs/game-flow.md
  thbig-rules/docs/season-competition.md
  thbig-rules/docs/team-building.md
  thbig-rules/game_rules.yaml
Due: none

refactor: thbig-rulesファイル構成再編（sources/・rulebook/新設） (cmd_914)
  thbig-rules/README.md
  thbig-rules/docs/date-concepts.md
  thbig-rules/review-report.md
  thbig-rules/rulebook/01-players-and-cards.md
  thbig-rules/rulebook/02-teams-and-rosters.md
  thbig-rules/rulebook/03-seasons-and-schedules.md
  thbig-rules/rulebook/04-game-setup.md
  thbig-rules/rulebook/05-at-bat-resolution.md
  thbig-rules/rulebook/06-special-events.md
  thbig-rules/rulebook/07-baserunning.md
  thbig-rules/rulebook/08-bunt-system.md
  thbig-rules/rulebook/09-pitching.md
  thbig-rules/rulebook/10-injuries-and-traits.md
  thbig-rules/rulebook/README.md
  thbig-rules/rulebook/data/README.md
  thbig-rules/sources/README.md
  thbig-rules/sources/card-structure.md
  thbig-rules/sources/game-flow.md
  thbig-rules/sources/irc-log-analysis.md
  thbig-rules/sources/pitcher-rest-rules-analysis.md
  thbig-rules/sources/player-card-spec.md
  thbig-rules/sources/procedures.md
Due: none

docs(rulebook): 04-game-setup + 09-injuries + 10-competitions 実装 (cmd_915)
  thbig-rules/rulebook/04-game-setup.md
  thbig-rules/rulebook/09-injuries.md
  thbig-rules/rulebook/10-competitions.md
Due: none

feat(rulebook): ルールブック全10章+data/実装 (cmd_915)
  thbig-rules/mechanics/result-codes.md
  thbig-rules/mechanics/up-table.md
  thbig-rules/rulebook/01-players-and-cards.md
  thbig-rules/rulebook/02-teams-and-rosters.md
  thbig-rules/rulebook/03-seasons-and-schedules.md
  thbig-rules/rulebook/05-at-bat-resolution.md
  thbig-rules/rulebook/06-special-events.md
  thbig-rules/rulebook/06-up-table.md
  thbig-rules/rulebook/07-baserunning.md
  thbig-rules/rulebook/08-bunt-system.md
  thbig-rules/rulebook/08-pitcher-management.md
  thbig-rules/rulebook/09-pitching.md
  thbig-rules/rulebook/10-injuries-and-traits.md
  thbig-rules/rulebook/README.md
  thbig-rules/rulebook/data/bunt_table.yaml
  thbig-rules/rulebook/data/injury_table.yaml
  thbig-rules/rulebook/data/stolen_base_table.yaml
  thbig-rules/wiki/baserunning_table.md
  thbig-rules/wiki/batting_result_table.md
  thbig-rules/wiki/bunt_table.md
  thbig-rules/wiki/error_check_table.md
  thbig-rules/wiki/fc_table.md
  thbig-rules/wiki/highlight_table.md
  thbig-rules/wiki/injury_table.md
  thbig-rules/wiki/range_check_table.md
  thbig-rules/wiki/steal.md
  thbig-rules/wiki/traits.md
Due: none

fix(rulebook): 要確認4件解消＋特例選手ルール＋借金特例追記 (cmd_916)
  thbig-rules/rulebook/02-teams-and-rosters.md
  thbig-rules/rulebook/03-seasons-and-schedules.md
  thbig-rules/rulebook/06-up-table.md
  thbig-rules/rulebook/07-baserunning.md
  thbig-rules/rulebook/08-pitcher-management.md
  thbig-rules/rulebook/09-injuries.md
  thbig-rules/rulebook/10-competitions.md
Due: none

fix(rulebook): 09-injuries負傷判定にSTEP2選手特徴確認を追加 (cmd_917)
  thbig-rules/rulebook/09-injuries.md
Due: none

fix(rulebook): 09-injuries STEP1特例選手具体化＋STEP2免除エントリ追加 (cmd_918)
  thbig-rules/rulebook/09-injuries.md
Due: none

feat(rulebook): 警告試合§8.9＋精神疲労§8.10追加＋01章品質修正 (cmd_920)
  thbig-rules/rulebook/01-players-and-cards.md
  thbig-rules/rulebook/08-pitcher-management.md
Due: none

refactor(rulebook): 警告試合を09章§9.6に移動＋精神疲労§8.8改番＋品質修正 (cmd_921)
  thbig-rules/rulebook/04-game-setup.md
  thbig-rules/rulebook/07-baserunning.md
  thbig-rules/rulebook/08-pitcher-management.md
  thbig-rules/rulebook/09-injuries.md
Due: none

fix(rulebook): 投手休養ルールWiki不一致9件全修正 (cmd_922)
  thbig-rules/rulebook/08-pitcher-management.md
  thbig-rules/sources/pitcher-rest-rules-analysis.md
Due: none

fix(rulebook): D2判定タイミング明記＋D8離脱中累積ルール修正 (cmd_922)
  thbig-rules/rulebook/08-pitcher-management.md
  thbig-rules/sources/pitcher-rest-rules-analysis.md
Due: none

fix: Dugout初期不良3件修正（#4 AP鈴仙外の世界枠・#5 正邪野手判定・#6 野手専念投手表示）
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/models/card_set.rb
  thbigmatome/app/models/team.rb
  thbigmatome/db/migrate/20260405100000_add_series_to_card_sets.rb
  thbigmatome/db/schema.rb
  thbigmatome/db/seeds/import_cards.rb
  thbigmatome/spec/factories/card_sets.rb
  thbigmatome/spec/models/team_spec.rb
  thbigmatome/spec/requests/api/v1/pitcher_game_states_spec.rb
  thbigmatome/spec/requests/api/v1/team_rosters_spec.rb
Due: rubocop

fix(pitcher_game_state): 先発疲労P未設定時にデフォルト値3を適用（ルール§8.3, Issue #7）
  thbigmatome/app/models/pitcher_game_state.rb
  thbigmatome/spec/models/pitcher_game_state_spec.rb
  thbigmatome/spec/requests/api/v1/pitcher_appearances_spec.rb
Due: rubocop

fix(ci): FE CIをyarnに切り替え（npm ci→yarn install --frozen-lockfile）(cmd_927)
  .github/workflows/test.yml
Due: none

feat(rulebook): 11-traits.md + data/traits.yaml 新規作成 (cmd_928)
  thbig-rules/rulebook/11-traits.md
  thbig-rules/rulebook/data/traits.yaml
Due: none

feat(api): Dugout内部API新設（Clubhouseデータ同期用） (cmd_935)
  docker-compose.yml
  thbigmatome/app/controllers/api/v1/internal/exports_controller.rb
  thbigmatome/app/controllers/api/v1/internal_base_controller.rb
  thbigmatome/config/environments/development.rb
  thbigmatome/config/routes.rb
Due: rubocop
