Repository whiterochen73/thbigmatome: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, eslint, prettier

lefthook.yml:

# Lefthook configuration for thbigmatome monorepo
# Auto-fixes linting issues on staged files only
#
# Installation: npm install (runs `lefthook install` automatically)
# Manual sync: npx lefthook install

pre-commit:
  parallel: true
  commands:
    # Backend: Ruby files - auto-fix with rubocop
    rubocop:
      root: "thbigmatome/"
      glob: "thbigmatome/**/*.rb"
      run: bundle exec rubocop -a {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - auto-fix with ESLint
    eslint:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx eslint --fix {staged_files}
      stage_fixed: true

    # Frontend: JS/TS/Vue files - format with Prettier
    prettier:
      root: "thbigmatome-front/"
      glob: "thbigmatome-front/**/*.{js,ts,vue}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

fix(dugout): 投手判定ロジックをplayer_card_defensesベースに変更 (cmd_1021/subtask_1021a)
  thbigmatome/app/models/player_card.rb
  thbigmatome/app/serializers/player_serializer.rb
  thbigmatome/app/serializers/roster_player_serializer.rb
  thbigmatome/db/import/player_cards.csv
  thbigmatome/db/scripts/fix_kawaguchi_is_pitcher.rb
  thbigmatome/spec/models/player_card_spec.rb
Due: rubocop

fix(dugout): 投手関連フラグ判定条件整理・全体統一 (cmd_1022/subtask_1022a)
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/app/controllers/api/v1/team_memberships_controller.rb
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/spec/models/player_card_spec.rb
Due: rubocop

chore: v0.3.2リリース (cmd_1023/subtask_1023a)
  thbigmatome-front/src/components/AppFooter.vue
  thbigmatome/CHANGELOG.md
Due: eslint, prettier

fix(dugout): QC Warning解消バッチ - number.to_i nil安全化・非対称修正・can_pitch?統一 (cmd_1024/subtask_1024a)
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/app/models/player.rb
Due: rubocop

fix(commissioner): ManagerDialog/TeamDialog の defineModel 名を isVisible に揃え v-model バインド復旧 (cmd_1070/subtask_1070a)
  thbigmatome-front/src/components/ManagerDialog.vue
  thbigmatome-front/src/components/TeamDialog.vue
  thbigmatome-front/src/views/__tests__/ManagerList.spec.ts
Due: eslint, prettier

fix(roster): cost 判定を variant player_card_id 優先に変更 (cmd_1073/subtask_1073a)
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/serializers/roster_player_serializer.rb
  thbigmatome/spec/requests/api/v1/team_rosters_spec.rb
Due: rubocop

feat(backup): add restore_dev.sh for local dev DB restore from prod dump (cmd_1075/subtask_1075a)
  thbigmatome/scripts/backup/README.md
  thbigmatome/scripts/backup/restore_dev.sh
Due: none

fix: build_injured_set の境界値バグ修正（回復日当日を負傷中と誤判定）
  thbigmatome/app/controllers/api/v1/pitcher_game_states_controller.rb
  thbigmatome/spec/requests/api/v1/pitcher_game_states_spec.rb
Due: rubocop

fix(roster): ハチナイ二刀流×カード欠損バグ修正 - cost/role 判定を TeamMembership に集約 (cmd_1076/subtask_1076a)
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/models/team.rb
  thbigmatome/app/models/team_membership.rb
  thbigmatome/app/serializers/roster_player_serializer.rb
  thbigmatome/app/serializers/team_player_serializer.rb
  thbigmatome/spec/models/team_membership_spec.rb
  thbigmatome/spec/requests/api/v1/team_rosters_spec.rb
  thbigmatome/spec/serializers/team_player_serializer_spec.rb
Due: rubocop

fix(roster): PM2026 split-player rescue - Player/PlayerCard 経由で canonical ハチナイ選手へフォールバック (cmd_1076/subtask_1076a)
  thbigmatome/app/controllers/api/v1/commissioner/dashboard_controller.rb
  thbigmatome/app/controllers/api/v1/competition_rosters_controller.rb
  thbigmatome/app/models/player.rb
  thbigmatome/app/models/player_card.rb
  thbigmatome/app/models/team_membership.rb
  thbigmatome/app/services/cost_validator.rb
  thbigmatome/spec/models/player_spec.rb
  thbigmatome/spec/models/team_membership_spec.rb
  thbigmatome/spec/requests/api/v1/commissioner/dashboard_spec.rb
  thbigmatome/spec/requests/api/v1/competition_rosters_spec.rb
  thbigmatome/spec/services/cost_validator_spec.rb
Due: rubocop

feat: shared players exporter for Clubhouse sync (cmd_1093/subtask_1093a)
  thbigmatome/app/models/shared_sync_log.rb
  thbigmatome/app/services/shared_players_exporter.rb
  thbigmatome/db/migrate/20260421230000_create_shared_sync_logs.rb
  thbigmatome/db/schema.rb
  thbigmatome/lib/tasks/thbigmatome.rake
  thbigmatome/spec/tasks/thbigmatome_export_players_spec.rb
Due: rubocop

release: v0.3.3
  CHANGELOG.md
  VERSION
  thbigmatome-front/src/components/AppFooter.vue
Due: eslint, prettier

fix(frontend): チーム追加ダイアログのキャンセルが効かない不具合を修正 (cmd_1107/subtask_1107b)
  thbigmatome-front/CHANGELOG.md
  thbigmatome-front/src/views/TeamList.vue
  thbigmatome-front/src/views/__tests__/TeamList.spec.ts
Due: eslint, prettier

fix: ロスター画面・クールダウン表示の選手名 null 対応 (cmd_1107/subtask_1107c)
  thbigmatome-front/src/components/PromotionCooldownInfo.vue
  thbigmatome-front/src/components/season/SeasonRosterTab.vue
  thbigmatome/CHANGELOG.md
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
Due: rubocop, eslint, prettier

fix: 監督追加後一覧未反映 / チーム編集で監督選択不可を修正 (cmd_1107/subtask_1107a)
  thbigmatome-front/src/components/TeamDialog.vue
  thbigmatome-front/src/components/__tests__/TeamDialog.spec.ts
  thbigmatome-front/src/views/ManagerList.vue
  thbigmatome-front/src/views/__tests__/ManagerList.spec.ts
  thbigmatome/app/controllers/api/v1/managers_controller.rb
  thbigmatome/spec/requests/api/v1/managers_spec.rb
Due: rubocop, eslint, prettier

feat(dugout): 内部APIキー強化 + exportページネーション (cmd_1134/subtask_1134a)
  .env.example
  docker-compose.prod.yml
  thbigmatome/.env.example
  thbigmatome/.env.production.example
  thbigmatome/DEPLOY.md
  thbigmatome/app/controllers/api/v1/internal/exports_controller.rb
  thbigmatome/app/controllers/api/v1/internal_base_controller.rb
  thbigmatome/docs/deploy-guide.md
  thbigmatome/docs/internal-api.md
  thbigmatome/spec/lib/tasks/import_card_data_spec.rb
  thbigmatome/spec/requests/api/v1/internal/exports_controller_spec.rb
  thbigmatome/spec/tasks/master_data_spec.rb
  thbigmatome/spec/tasks/thbigmatome_export_players_spec.rb
Due: rubocop

fix(dugout): 怪我回復後の登板履歴入力不能バグ修正 (cmd_1149/subtask_1149a)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/components/pitcher/__tests__/PitcherAppearanceTab.spec.ts
Due: eslint, prettier

fix(dugout): 登録関連 High 2件修正 (cmd_1153/subtask_1153a)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/components/season/SeasonAbsenceTab.vue
  thbigmatome-front/src/components/season/__tests__/SeasonAbsenceTab.spec.ts
Due: eslint, prettier

test(dugout): FE Vue spec batch1 5件追加 (cmd_1154/subtask_1154b)
  thbigmatome-front/src/components/__tests__/AbsenceInfo.spec.ts
  thbigmatome-front/src/components/__tests__/ManagerDialog.spec.ts
  thbigmatome-front/src/components/__tests__/PlayerAbsenceFormDialog.spec.ts
  thbigmatome-front/src/components/players/__tests__/PlayerDialog.spec.ts
  thbigmatome-front/src/components/season/__tests__/PromotionHistoryTab.spec.ts
Due: eslint, prettier

fix(dugout): PitcherAppearanceTab H1-1/H1-2修正 (cmd_1158/subtask_1158a)
  thbigmatome-front/src/components/pitcher/PitcherAppearanceTab.vue
  thbigmatome-front/src/components/pitcher/__tests__/PitcherAppearanceTab.spec.ts
Due: eslint, prettier

fix(dugout): C3-1重複ID拒否+H3-2 target_date SSoT化 (cmd_1156/subtask_1156a)
  thbigmatome/app/controllers/api/v1/team_rosters_controller.rb
  thbigmatome/app/controllers/concerns/cooldown_calculable.rb
  thbigmatome/app/models/team.rb
  thbigmatome/spec/requests/api/v1/team_rosters_spec.rb
Due: rubocop

fix(dugout): commissioner sibling check H3-1実装 (cmd_1157/subtask_1157a)
  thbigmatome/app/controllers/api/v1/commissioner/team_managers_controller.rb
  thbigmatome/app/controllers/api/v1/teams_controller.rb
  thbigmatome/app/controllers/concerns/director_sibling_check.rb
  thbigmatome/config/routes.rb
  thbigmatome/spec/requests/api/v1/commissioner/team_managers_spec.rb
Due: rubocop

fix(dugout): 初瀬コスト復旧 A1+A2 — variant 解決 resolver 共通化 (cmd_1190/subtask_1190c)
  thbigmatome/db/scripts/restore_cost_players.rb
  thbigmatome/db/seeds/production_costs.rb
  thbigmatome/lib/cost_player_seed_resolver.rb
  thbigmatome/spec/lib/cost_player_seed_resolver_spec.rb
  thbigmatome/spec/requests/api/v1/cost_assignments_spec.rb
Due: rubocop

docs: CHANGELOG v0.4.0 セクション追加 (cmd_1223/subtask_1223a) [writer-self-commit]
  CHANGELOG.md
Due: none

chore(release): bump version to v0.4.0 (cmd_1223/subtask_1223b)
  VERSION
  package.json
  thbigmatome-front/package.json
  thbigmatome-front/src/components/AppFooter.vue
Due: eslint, prettier

docs: refresh 7 docs to follow Rails source (cmd_1228/subtask_1228b)
  thbigmatome/docs/api-endpoints.md
  thbigmatome/docs/backup_operations.md
  thbigmatome/docs/db-schema.md
  thbigmatome/docs/deploy-guide.md
  thbigmatome/docs/internal-api.md
  thbigmatome/docs/models.md
  thbigmatome/docs/serializers.md
Due: none

fix(serializer): expose variant on PlayerCard and TeamPlayer serializers (cmd_1230/subtask_1230j)
  thbigmatome/app/serializers/player_card_serializer.rb
  thbigmatome/app/serializers/team_player_serializer.rb
  thbigmatome/spec/requests/api/v1/player_cards_spec.rb
  thbigmatome/spec/serializers/player_card_serializer_spec.rb
  thbigmatome/spec/serializers/team_player_serializer_spec.rb
Due: rubocop

feat(team-members): support variant selection for player cards (cmd_1230/subtask_1230k)
  thbigmatome-front/src/views/TeamMembers.vue
  thbigmatome-front/src/views/__tests__/TeamMembers.spec.ts
Due: eslint, prettier

feat(dugout): CSV export for Clubhouse + SharedSyncLog (cmd_1333/subtask_1333b)
  thbigmatome/app/services/shared_players_exporter.rb
  thbigmatome/lib/tasks/export_for_clubhouse.rake
Due: rubocop

chore: exempt WRITING_RULES.md from docs/blog/ gitignore
  .gitignore
  docs/blog/WRITING_RULES.md
Due: none

fix(security): CVE-2026-66066 Rails 8.1.3.1 へ更新 + libvips untrusted 緩和
  thbigmatome/Gemfile.lock
  thbigmatome/config/initializers/vips_block_untrusted.rb
Due: rubocop

chore(security): npm ignore-scripts をルートに設定 (cmd_1568/subtask_1568a)
  .npmrc
Due: none

docs: update WRITING_RULES.md to reference consolidated writing-quality.md
  docs/blog/WRITING_RULES.md
Due: none

docs(thbig-rules): AMB-10裁定に基づきUP表1112/1314の誤読へ訂正注記を追加
  thbig-rules/mechanics/up-table.md
  thbig-rules/rulebook/06-up-table.md
Due: none

docs(thbig-rules): 外野前進守備の走力補正・レンジ捕球例外を07-baserunningに補充 (cmd_1659/subtask_1659a)
  thbig-rules/rulebook/07-baserunning.md
Due: none

docs(thbig-rules): AMB-04/05/08/09/11/14・境界-1/2・D-11の裁定をルールブックへ反映 (cmd_1664/subtask_1664a, subtask_1664b)
  thbig-rules/rulebook/03-seasons-and-schedules.md
  thbig-rules/rulebook/04-game-setup.md
  thbig-rules/rulebook/07-baserunning.md
  thbig-rules/rulebook/08-pitcher-management.md
  thbig-rules/rulebook/09-injuries.md
Due: none

feat(thbigmatome-front): knip最小構成を導入し未使用ファイル6件+未使用型1件を削除
  thbigmatome-front/knip.json
  thbigmatome-front/src/components/TeamNavigation.vue
  thbigmatome-front/src/components/shared/PlayerDetailSelect.vue
  thbigmatome-front/src/components/shared/PlayerSelect.vue
  thbigmatome-front/src/types/cost.ts
  thbigmatome-front/src/types/index.ts
  thbigmatome-front/src/types/pitcherAppearance.ts
  thbigmatome-front/src/views/PlayerAbsenceHistory.vue
Due: eslint, prettier

docs(rules): 中10日リセットに離脱期間は関与しない旨の訂正注記を §8.6 に追加
  thbig-rules/rulebook/08-pitcher-management.md
Due: none

docs: Codex向けAGENTS.mdを新設 (cmd_1675/subtask_1675a)
  AGENTS.md
Due: none
